<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpCompress" version="0.29.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net462" />
  <package id="UTF.Unknown" version="2.5.0" targetFramework="net462" />
</packages>