<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <MW_ExtractToDirectory>استخراج إلى المجلد</MW_ExtractToDirectory>
  </ar>
  <ca>
    <MW_ExtractToDirectory>Extreu a la carpeta</MW_ExtractToDirectory>
  </ca>
  <he>
    <MW_ExtractToDirectory>חלץ לתיקייה</MW_ExtractToDirectory>
  </he>
  <hi>
    <MW_ExtractToDirectory>डायरेक्टरी में निकालें</MW_ExtractToDirectory>
  </hi>
  <mr>
    <MW_ExtractToDirectory>डायरेक्टरीमध्ये काढा</MW_ExtractToDirectory>
  </mr>
  <hu-HU>
    <MW_ExtractToDirectory>Kibontás mappába</MW_ExtractToDirectory>
  </hu-HU>
  <nb-NO>
    <MW_ExtractToDirectory>Pakk ut til mappe</MW_ExtractToDirectory>
  </nb-NO>
  <nl-NL>
    <MW_ExtractToDirectory>Uitpakken naar map</MW_ExtractToDirectory>
  </nl-NL>
  <sk>
    <MW_ExtractToDirectory>Extrahovať do priečinka</MW_ExtractToDirectory>
  </sk>
  <id-ID>
    <MW_ExtractToDirectory>Ekstrak ke folder</MW_ExtractToDirectory>
  </id-ID>
  <en>
    <MW_ExtractToDirectory>Extract to directory</MW_ExtractToDirectory>
  </en>
  <ko>
    <MW_ExtractToDirectory>폴더로 추출</MW_ExtractToDirectory>
  </ko>
  <pt-BR>
    <MW_ExtractToDirectory>Extrair para a pasta</MW_ExtractToDirectory>
  </pt-BR>
  <pt-PT>
    <MW_ExtractToDirectory>Extrair para a pasta</MW_ExtractToDirectory>
  </pt-PT>
  <ru-RU>
    <MW_ExtractToDirectory>Извлечь в папку</MW_ExtractToDirectory>
  </ru-RU>
  <tr-TR>
    <MW_ExtractToDirectory>Klasöre çıkar</MW_ExtractToDirectory>
  </tr-TR>
  <vi>
    <MW_ExtractToDirectory>Trích xuất vào thư mục</MW_ExtractToDirectory>
  </vi>
  <pt-PT>
    <MW_ExtractToDirectory>Extrair para a pasta</MW_ExtractToDirectory>
  </pt-PT>
  <fr>
    <MW_ExtractToDirectory>Extraire vers le dossier</MW_ExtractToDirectory>
  </fr>
  <es>
    <MW_ExtractToDirectory>Extraer a la carpeta</MW_ExtractToDirectory>
  </es>
  <it>
    <MW_ExtractToDirectory>Estrai nella cartella</MW_ExtractToDirectory>
  </it>
  <pl>
    <MW_ExtractToDirectory>Wyodrębnij do folderu</MW_ExtractToDirectory>
  </pl>
  <el>
    <MW_ExtractToDirectory>Εξαγωγή σε φάκελο</MW_ExtractToDirectory>
  </el>
  <uk-UA>
    <MW_ExtractToDirectory>Розпакувати до папки</MW_ExtractToDirectory>
  </uk-UA>
  <zh-CN>
    <MW_ExtractToDirectory>提取到目录</MW_ExtractToDirectory>
  </zh-CN>
  <zh-TW>
    <MW_ExtractToDirectory>提取到資料夾</MW_ExtractToDirectory>
  </zh-TW>
  <ja>
    <MW_ExtractToDirectory>フォルダに抽出</MW_ExtractToDirectory>
  </ja>
  <de>
    <MW_ExtractToDirectory>In Ordner extrahieren</MW_ExtractToDirectory>
  </de>
  <sv>
    <MW_ExtractToDirectory>Extrahera till mapp</MW_ExtractToDirectory>
  </sv>
</Translations>
