<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <MW_ExtractToDirectory>استخراج إلى المجلد</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>هل تريد الاحتفاظ بترتيب ملفات الرموز التعبيرية المخزنة؟</MW_ExtractToDirectory_EIFOrderFaceDat>
  </ar>
  <ca>
    <MW_ExtractToDirectory>Extreu a la carpeta</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Voleu mantenir l'ordre dels fitxers d'emoticones emmagatzemats?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </ca>
  <he>
    <MW_ExtractToDirectory>חלץ לתיקייה</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>האם ברצונך לשמור על סדר קבצי הרגשונים המאוחסנים?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </he>
  <hi>
    <MW_ExtractToDirectory>डायरेक्टरी में निकालें</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>क्या आप संग्रहीत इमोटिकॉन फ़ाइलों का क्रम बनाए रखना चाहते हैं?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </hi>
  <mr>
    <MW_ExtractToDirectory>डायरेक्टरीमध्ये काढा</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>आपण संग्रहित इमोटिकॉन फायलींचा क्रम ठेवू इच्छिता?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </mr>
  <hu-HU>
    <MW_ExtractToDirectory>Kibontás mappába</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Meg akarja tartani a tárolt hangulatjel-fájlok sorrendjét?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </hu-HU>
  <nb-NO>
    <MW_ExtractToDirectory>Pakk ut til mappe</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Vil du beholde rekkefølgen på lagrede uttrykksikonfiler?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </nb-NO>
  <nl-NL>
    <MW_ExtractToDirectory>Uitpakken naar map</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Wilt u de volgorde van opgeslagen emoticonbestanden behouden?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </nl-NL>
  <sk>
    <MW_ExtractToDirectory>Extrahovať do priečinka</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Chcete zachovať poradie uložených súborov emotikonov?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </sk>
  <id-ID>
    <MW_ExtractToDirectory>Ekstrak ke folder</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Apakah Anda ingin menjaga urutan file emotikon yang tersimpan?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </id-ID>
  <en>
    <MW_ExtractToDirectory>Extract to directory</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Do you want to keep the order of stored emoticon files?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </en>
  <ko>
    <MW_ExtractToDirectory>폴더로 추출</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>이모티콘 파일의 저장 순서를 유지하시겠습니까?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </ko>
  <pt-BR>
    <MW_ExtractToDirectory>Extrair para a pasta</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Deseja manter a ordem dos arquivos de emoticons armazenados?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </pt-BR>
  <pt-PT>
    <MW_ExtractToDirectory>Extrair para a pasta</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Deseja manter a ordem dos ficheiros de emoticons armazenados?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </pt-PT>
  <ru-RU>
    <MW_ExtractToDirectory>Извлечь в папку</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Вы хотите сохранить порядок сохраненных файлов смайликов?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </ru-RU>
  <tr-TR>
    <MW_ExtractToDirectory>Klasöre çıkar</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Saklanan ifade dosyalarının sırasını korumak istiyor musunuz?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </tr-TR>
  <vi>
    <MW_ExtractToDirectory>Trích xuất vào thư mục</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Bạn có muốn giữ thứ tự của các tệp biểu tượng cảm xúc đã lưu không?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </vi>
  <pt-PT>
    <MW_ExtractToDirectory>Extrair para a pasta</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Deseja manter a ordem dos ficheiros de emoticons armazenados?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </pt-PT>
  <fr>
    <MW_ExtractToDirectory>Extraire vers le dossier</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Voulez-vous conserver l'ordre des fichiers d'émoticônes stockés ?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </fr>
  <es>
    <MW_ExtractToDirectory>Extraer a la carpeta</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>¿Desea mantener el orden de los archivos de emoticonos almacenados?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </es>
  <it>
    <MW_ExtractToDirectory>Estrai nella cartella</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Vuoi mantenere l'ordine dei file di emoticon memorizzati?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </it>
  <pl>
    <MW_ExtractToDirectory>Wyodrębnij do folderu</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Czy chcesz zachować kolejność przechowywanych plików emotikonów?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </pl>
  <el>
    <MW_ExtractToDirectory>Εξαγωγή σε φάκελο</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Θέλετε να διατηρήσετε τη σειρά των αποθηκευμένων αρχείων emoticon;</MW_ExtractToDirectory_EIFOrderFaceDat>
  </el>
  <uk-UA>
    <MW_ExtractToDirectory>Розпакувати до папки</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Ви хочете зберегти порядок збережених файлів смайлів?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </uk-UA>
  <zh-CN>
    <MW_ExtractToDirectory>提取到目录</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>是否需要保持表情文件存储的顺序？</MW_ExtractToDirectory_EIFOrderFaceDat>
  </zh-CN>
  <zh-TW>
    <MW_ExtractToDirectory>提取到資料夾</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>是否需要保持表情檔案儲存的順序？</MW_ExtractToDirectory_EIFOrderFaceDat>
  </zh-TW>
  <ja>
    <MW_ExtractToDirectory>フォルダに抽出</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>絵文字ファイルの保存順序を保持しますか？</MW_ExtractToDirectory_EIFOrderFaceDat>
  </ja>
  <de>
    <MW_ExtractToDirectory>In Ordner extrahieren</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Möchten Sie die Reihenfolge der gespeicherten Emoticon-Dateien beibehalten?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </de>
  <sv>
    <MW_ExtractToDirectory>Extrahera till mapp</MW_ExtractToDirectory>
    <MW_ExtractToDirectory_EIFOrderFaceDat>Vill du behålla ordningen på lagrade uttryckssymbolfiler?</MW_ExtractToDirectory_EIFOrderFaceDat>
  </sv>
</Translations>
