<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <MW_ShowMediaInfo>عرض معلومات الوسائط</MW_ShowMediaInfo>
  </ar>
  <ca>
    <MW_ShowMediaInfo>Mostra informació multimèdia</MW_ShowMediaInfo>
  </ca>
  <de>
    <MW_ShowMediaInfo>Medieninformationen anzeigen</MW_ShowMediaInfo>
  </de>
  <el>
    <MW_ShowMediaInfo>Εμφάνιση πληροφοριών πολυμέσων</MW_ShowMediaInfo>
  </el>
  <en>
    <MW_ShowMediaInfo>Show Media Info</MW_ShowMediaInfo>
  </en>
  <es>
    <MW_ShowMediaInfo>Mostrar información multimedia</MW_ShowMediaInfo>
  </es>
  <fr>
    <MW_ShowMediaInfo>Afficher les informations du média</MW_ShowMediaInfo>
  </fr>
  <he>
    <MW_ShowMediaInfo>הצג מידע מדיה</MW_ShowMediaInfo>
  </he>
  <hi>
    <MW_ShowMediaInfo>मीडिया जानकारी दिखाएँ</MW_ShowMediaInfo>
  </hi>
  <hu-HU>
    <MW_ShowMediaInfo>Média információk megjelenítése</MW_ShowMediaInfo>
  </hu-HU>
  <id-ID>
    <MW_ShowMediaInfo>Tampilkan Info Media</MW_ShowMediaInfo>
  </id-ID>
  <it>
    <MW_ShowMediaInfo>Mostra informazioni multimediali</MW_ShowMediaInfo>
  </it>
  <ja>
    <MW_ShowMediaInfo>メディア情報を表示</MW_ShowMediaInfo>
  </ja>
  <ko>
    <MW_ShowMediaInfo>미디어 정보 표시</MW_ShowMediaInfo>
  </ko>
  <mr>
    <MW_ShowMediaInfo>मीडिया माहिती दर्शवा</MW_ShowMediaInfo>
  </mr>
  <nb-NO>
    <MW_ShowMediaInfo>Vis medieinformasjon</MW_ShowMediaInfo>
  </nb-NO>
  <nl-NL>
    <MW_ShowMediaInfo>Toon mediainformatie</MW_ShowMediaInfo>
  </nl-NL>
  <pl>
    <MW_ShowMediaInfo>Pokaż informacje o mediach</MW_ShowMediaInfo>
  </pl>
  <pt-BR>
    <MW_ShowMediaInfo>Mostrar informações de mídia</MW_ShowMediaInfo>
  </pt-BR>
  <pt-PT>
    <MW_ShowMediaInfo>Mostrar informações de mídia</MW_ShowMediaInfo>
  </pt-PT>
  <ru-RU>
    <MW_ShowMediaInfo>Показать информацию о медиа</MW_ShowMediaInfo>
  </ru-RU>
  <sk>
    <MW_ShowMediaInfo>Zobraziť informácie o médiu</MW_ShowMediaInfo>
  </sk>
  <sv>
    <MW_ShowMediaInfo>Visa mediainformation</MW_ShowMediaInfo>
  </sv>
  <tr-TR>
    <MW_ShowMediaInfo>Medya bilgisini göster</MW_ShowMediaInfo>
  </tr-TR>
  <uk-UA>
    <MW_ShowMediaInfo>Показати інформацію про медіа</MW_ShowMediaInfo>
  </uk-UA>
  <vi>
    <MW_ShowMediaInfo>Hiển thị thông tin phương tiện</MW_ShowMediaInfo>
  </vi>
  <zh-CN>
    <MW_ShowMediaInfo>显示媒体信息</MW_ShowMediaInfo>
  </zh-CN>
  <zh-TW>
    <MW_ShowMediaInfo>顯示媒體資訊</MW_ShowMediaInfo>
  </zh-TW>
</Translations>
