<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.AvalonEdit" publicKeyToken="9cc39be672370310" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.3.50" newVersion="6.1.3.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>