<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ca>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </ca>
  <de-DE>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </de-DE>
  <en>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
    <Editor_Copy>Copy</Editor_Copy>
    <Editor_SelectAll>Select All</Editor_SelectAll>
  </en>
  <es-ES>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </es-ES>
  <fr-FR>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </fr-FR>
  <it>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </it>
  <ja-JP>
    <Editor_FontFamily>Consolas,Meiryo UI,MS UI Gothic,MS Gothic</Editor_FontFamily>
    <Editor_Copy>コピー</Editor_Copy>
    <Editor_SelectAll>すべて選択</Editor_SelectAll>
  </ja-JP>
  <ko-KR>
    <Editor_FontFamily>Consolas,Malgun Gothic,Batang</Editor_FontFamily>
  </ko-KR>
  <nb-NO>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </nb-NO>
  <nl-NL>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </nl-NL>
  <pl>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </pl>
  <pt-BR>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </pt-BR>
  <pt-PT>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </pt-PT>
  <ru-RU>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </ru-RU>
  <tr-TR>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </tr-TR>
  <uk-UA>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </uk-UA>
  <vi>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </vi>
  <zh-CN>
    <Editor_FontFamily>Consolas,Microsoft Yahei UI,Microsoft Yahei,SimSun</Editor_FontFamily>
    <Editor_Copy>复制</Editor_Copy>
    <Editor_SelectAll>全选</Editor_SelectAll>
  </zh-CN>
  <zh-TW>
    <Editor_FontFamily>Consolas,Microsoft JhengHei UI,Microsoft JhengHei,MingLiU</Editor_FontFamily>
    <Editor_Copy>複製</Editor_Copy>
    <Editor_SelectAll>全選</Editor_SelectAll>
  </zh-TW>
  <mr>
    <Editor_FontFamily>Consolas,Mangal,Nirmala UI</Editor_FontFamily>
  </mr>
  <hi>
    <Editor_FontFamily>Consolas,Mangal,Nirmala UI</Editor_FontFamily>
  </hi>
</Translations>
