<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </en>
  <zh-CN>
    <Editor_FontFamily>Consolas,Microsoft Yahei UI,Microsoft Yahei,SimSun</Editor_FontFamily>
  </zh-CN>
  <zh-TW>
    <Editor_FontFamily>Consolas,Microsoft JhengHei UI,Microsoft JhengHei,MingLiU</Editor_FontFamily>
  </zh-TW>
  <ja-JP>
    <Editor_FontFamily>Consolas,Meiryo UI,MS UI Gothic,MS Gothic</Editor_FontFamily>
  </ja-JP>
  <ko-KR>
    <Editor_FontFamily>Consolas,Malgun Gothic,Batang</Editor_FontFamily>
  </ko-KR>
  <es-ES>
    <Editor_FontFamily>Consolas</Editor_FontFamily>
  </es-ES>
</Translations>
