<?xml version="1.0" encoding="utf-8"?>

<Translations>
    <ar>
        <TOTAL_SIZE>الحجم الكلي</TOTAL_SIZE>
        <FILE_VERSION>إصدار الملف</FILE_VERSION>
        <PRODUCT_VERSION>إصدار المنتج</PRODUCT_VERSION>
    </ar>
    <ca>
        <TOTAL_SIZE>Mida total</TOTAL_SIZE>
        <FILE_VERSION>Versió del fitxer</FILE_VERSION>
        <PRODUCT_VERSION>Versió del producte</PRODUCT_VERSION>
    </ca>
    <de>
        <TOTAL_SIZE>Gesamtgröße</TOTAL_SIZE>
        <FILE_VERSION>Dateiversion</FILE_VERSION>
        <PRODUCT_VERSION>Produktversion</PRODUCT_VERSION>
    </de>
    <el>
        <TOTAL_SIZE>Συνολικό μέγεθος</TOTAL_SIZE>
        <FILE_VERSION>Έκδοση αρχείου</FILE_VERSION>
        <PRODUCT_VERSION>Έκδοση προϊόντος</PRODUCT_VERSION>
    </el>
    <en>
        <TOTAL_SIZE>Total Size</TOTAL_SIZE>
        <FILE_VERSION>File Version</FILE_VERSION>
        <PRODUCT_VERSION>Product Version</PRODUCT_VERSION>
    </en>
    <es>
        <TOTAL_SIZE>Tamaño total</TOTAL_SIZE>
        <FILE_VERSION>Versión de archivo</FILE_VERSION>
        <PRODUCT_VERSION>Versión de producto</PRODUCT_VERSION>
    </es>
    <fr>
        <TOTAL_SIZE>Taille totale</TOTAL_SIZE>
        <FILE_VERSION>Version du fichier</FILE_VERSION>
        <PRODUCT_VERSION>Version du produit</PRODUCT_VERSION>
    </fr>
    <he>
        <TOTAL_SIZE>גודל כולל</TOTAL_SIZE>
        <FILE_VERSION>גרסת קובץ</FILE_VERSION>
        <PRODUCT_VERSION>גרסת מוצר</PRODUCT_VERSION>
    </he>
    <hi>
        <TOTAL_SIZE>कुल आकार</TOTAL_SIZE>
        <FILE_VERSION>फ़ाइल संस्करण</FILE_VERSION>
        <PRODUCT_VERSION>उत्पाद संस्करण</PRODUCT_VERSION>
    </hi>
    <hu-HU>
        <TOTAL_SIZE>Teljes méret</TOTAL_SIZE>
        <FILE_VERSION>Fájlverzió</FILE_VERSION>
        <PRODUCT_VERSION>Termékverzió</PRODUCT_VERSION>
    </hu-HU>
    <id-ID>
        <TOTAL_SIZE>Ukuran total</TOTAL_SIZE>
        <FILE_VERSION>Versi file</FILE_VERSION>
        <PRODUCT_VERSION>Versi produk</PRODUCT_VERSION>
    </id-ID>
    <it>
        <TOTAL_SIZE>Dimensione totale</TOTAL_SIZE>
        <FILE_VERSION>Versione del file</FILE_VERSION>
        <PRODUCT_VERSION>Versione del prodotto</PRODUCT_VERSION>
    </it>
    <ja>
        <TOTAL_SIZE>合計サイズ</TOTAL_SIZE>
        <FILE_VERSION>ファイルバージョン</FILE_VERSION>
        <PRODUCT_VERSION>製品バージョン</PRODUCT_VERSION>
    </ja>
    <ko>
        <TOTAL_SIZE>전체 크기</TOTAL_SIZE>
        <FILE_VERSION>파일 버전</FILE_VERSION>
        <PRODUCT_VERSION>제품 버전</PRODUCT_VERSION>
    </ko>
    <mr>
        <TOTAL_SIZE>एकूण आकार</TOTAL_SIZE>
        <FILE_VERSION>फाइल आवृत्ती</FILE_VERSION>
        <PRODUCT_VERSION>उत्पादन आवृत्ती</PRODUCT_VERSION>
    </mr>
    <nb-NO>
        <TOTAL_SIZE>Total størrelse</TOTAL_SIZE>
        <FILE_VERSION>Filversjon</FILE_VERSION>
        <PRODUCT_VERSION>Produktversjon</PRODUCT_VERSION>
    </nb-NO>
    <nl-NL>
        <TOTAL_SIZE>Totale grootte</TOTAL_SIZE>
        <FILE_VERSION>Bestandversie</FILE_VERSION>
        <PRODUCT_VERSION>Productversie</PRODUCT_VERSION>
    </nl-NL>
    <pl>
        <TOTAL_SIZE>Całkowity rozmiar</TOTAL_SIZE>
        <FILE_VERSION>Wersja pliku</FILE_VERSION>
        <PRODUCT_VERSION>Wersja produktu</PRODUCT_VERSION>
    </pl>
    <pt-BR>
        <TOTAL_SIZE>Tamanho total</TOTAL_SIZE>
        <FILE_VERSION>Versão do arquivo</FILE_VERSION>
        <PRODUCT_VERSION>Versão do produto</PRODUCT_VERSION>
    </pt-BR>
    <pt-PT>
        <TOTAL_SIZE>Tamanho total</TOTAL_SIZE>
        <FILE_VERSION>Versão do ficheiro</FILE_VERSION>
        <PRODUCT_VERSION>Versão do produto</PRODUCT_VERSION>
    </pt-PT>
    <ru-RU>
        <TOTAL_SIZE>Общий размер</TOTAL_SIZE>
        <FILE_VERSION>Версия файла</FILE_VERSION>
        <PRODUCT_VERSION>Версия продукта</PRODUCT_VERSION>
    </ru-RU>
    <sk>
        <TOTAL_SIZE>Celková veľkosť</TOTAL_SIZE>
        <FILE_VERSION>Verzia súboru</FILE_VERSION>
        <PRODUCT_VERSION>Verzia produktu</PRODUCT_VERSION>
    </sk>
    <sv>
        <TOTAL_SIZE>Total storlek</TOTAL_SIZE>
        <FILE_VERSION>Filversion</FILE_VERSION>
        <PRODUCT_VERSION>Produktversion</PRODUCT_VERSION>
    </sv>
    <tr-TR>
        <TOTAL_SIZE>Toplam boyut</TOTAL_SIZE>
        <FILE_VERSION>Dosya sürümü</FILE_VERSION>
        <PRODUCT_VERSION>Ürün sürümü</PRODUCT_VERSION>
    </tr-TR>
    <uk-UA>
        <TOTAL_SIZE>Загальний розмір</TOTAL_SIZE>
        <FILE_VERSION>Версія файлу</FILE_VERSION>
        <PRODUCT_VERSION>Версія продукту</PRODUCT_VERSION>
    </uk-UA>
    <vi>
        <TOTAL_SIZE>Tổng kích thước</TOTAL_SIZE>
        <FILE_VERSION>Phiên bản tệp</FILE_VERSION>
        <PRODUCT_VERSION>Phiên bản sản phẩm</PRODUCT_VERSION>
    </vi>
    <zh-CN>
        <TOTAL_SIZE>总大小</TOTAL_SIZE>
        <FILE_VERSION>文件版本</FILE_VERSION>
        <PRODUCT_VERSION>产品版本</PRODUCT_VERSION>
    </zh-CN>
    <zh-TW>
        <TOTAL_SIZE>總大小</TOTAL_SIZE>
        <FILE_VERSION>檔案版本</FILE_VERSION>
        <PRODUCT_VERSION>產品版本</PRODUCT_VERSION>
    </zh-TW>
</Translations>
