<?xml version="1.0" encoding="utf-8"?>

<Translations>
    <en>
        <TOTAL_SIZE>Total Size</TOTAL_SIZE>
        <FILE_VERSION>File Version</FILE_VERSION>
        <PRODUCT_VERSION>Product Version</PRODUCT_VERSION>
    </en>
    <ko>
        <TOTAL_SIZE>전체 크기</TOTAL_SIZE>
        <FILE_VERSION>파일 버전</FILE_VERSION>
        <PRODUCT_VERSION>제품 버전</PRODUCT_VERSION>
    </ko>
    <pt-BR>
        <TOTAL_SIZE>Tamanho total</TOTAL_SIZE>
        <FILE_VERSION>Versão do arquivo</FILE_VERSION>
        <PRODUCT_VERSION>Versão do produto</PRODUCT_VERSION>
    </pt-BR>
    <zh-CN>
        <TOTAL_SIZE>总大小</TOTAL_SIZE>
        <FILE_VERSION>文件版本</FILE_VERSION>
        <PRODUCT_VERSION>产品版本</PRODUCT_VERSION>
    </zh-CN>
    <zh-TW>
        <TOTAL_SIZE>縂大小</TOTAL_SIZE>
        <FILE_VERSION>檔案版本</FILE_VERSION>
        <PRODUCT_VERSION>產品版本</PRODUCT_VERSION>
    </zh-TW>
    <ja>
        <TOTAL_SIZE>合計サイズ</TOTAL_SIZE>
        <FILE_VERSION>ファイルバージョン</FILE_VERSION>
        <PRODUCT_VERSION>製品バージョン</PRODUCT_VERSION>
    </ja>
    <de>
        <TOTAL_SIZE>Gesamtgröße</TOTAL_SIZE>
        <FILE_VERSION>Dateiversion</FILE_VERSION>
        <PRODUCT_VERSION>Produktversion</PRODUCT_VERSION>
    </de>
    <sv>
        <TOTAL_SIZE>Total storlek</TOTAL_SIZE>
        <FILE_VERSION>Filversion</FILE_VERSION>
        <PRODUCT_VERSION>Produktversion</PRODUCT_VERSION>
    </sv>
</Translations>
