<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <MINIDUMP_FILE_SUMMARY>ملخص ملف Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>ملخص Dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>معلومات النظام</SYSTEM_INFORMATION>
    <MODULES>الوحدات</MODULES>
    <SEARCH>بحث</SEARCH>
    <DUMP_FILE>ملف Dump</DUMP_FILE>
    <LAST_WRITE_TIME>وقت آخر كتابة</LAST_WRITE_TIME>
    <PROCESS_NAME>اسم العملية</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>بنية العملية</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>رمز الاستثناء</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>معلومات الاستثناء</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>معلومات الذاكرة المؤقتة</HEAP_INFORMATION>
    <ERROR_INFORMATION>معلومات الخطأ</ERROR_INFORMATION>
    <OS_VERSION>إصدار نظام التشغيل</OS_VERSION>
    <CLR_VERSIONS>إصدار/إصدارات CLR</CLR_VERSIONS>
    <MODULE_NAME>اسم الوحدة</MODULE_NAME>
    <MODULE_VERSION>إصدار الوحدة</MODULE_VERSION>
    <MODULE_PATH>مسار الوحدة</MODULE_PATH>
    <PARSER_MESSAGE>رسالة المحلل</PARSER_MESSAGE>
    <PRESENT>موجود</PRESENT>
    <NOT_FOUND>غير موجود</NOT_FOUND>
    <SEARCHING>جار البحث...</SEARCHING>
  </ar>
  <ca>
    <MINIDUMP_FILE_SUMMARY>Resum del fitxer Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Resum del bolcat</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Informació del sistema</SYSTEM_INFORMATION>
    <MODULES>Mòduls</MODULES>
    <SEARCH>Cerca</SEARCH>
    <DUMP_FILE>Fitxer de bolcat</DUMP_FILE>
    <LAST_WRITE_TIME>Hora de l'última escriptura</LAST_WRITE_TIME>
    <PROCESS_NAME>Nom del procés</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Arquitectura del procés</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Codi d'excepció</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informació de l'excepció</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informació del heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informació d'error</ERROR_INFORMATION>
    <OS_VERSION>Versió del SO</OS_VERSION>
    <CLR_VERSIONS>Versió/ns de CLR</CLR_VERSIONS>
    <MODULE_NAME>Nom del mòdul</MODULE_NAME>
    <MODULE_VERSION>Versió del mòdul</MODULE_VERSION>
    <MODULE_PATH>Camí del mòdul</MODULE_PATH>
    <PARSER_MESSAGE>Missatge de l'analitzador</PARSER_MESSAGE>
    <PRESENT>Present</PRESENT>
    <NOT_FOUND>no trobat</NOT_FOUND>
    <SEARCHING>S'està cercant...</SEARCHING>
  </ca>
  <de>
    <MINIDUMP_FILE_SUMMARY>Minidump-Dateizusammenfassung</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump-Zusammenfassung</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Systeminformationen</SYSTEM_INFORMATION>
    <MODULES>Module</MODULES>
    <SEARCH>Suchen</SEARCH>
    <DUMP_FILE>Dump-Datei</DUMP_FILE>
    <LAST_WRITE_TIME>Letzte Schreibzeit</LAST_WRITE_TIME>
    <PROCESS_NAME>Prozessname</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Prozessarchitektur</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Ausnahmecode</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Ausnahmeinformationen</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap-Informationen</HEAP_INFORMATION>
    <ERROR_INFORMATION>Fehlerinformationen</ERROR_INFORMATION>
    <OS_VERSION>BS-Version</OS_VERSION>
    <CLR_VERSIONS>CLR-Version(en)</CLR_VERSIONS>
    <MODULE_NAME>Modulname</MODULE_NAME>
    <MODULE_VERSION>Modulversion</MODULE_VERSION>
    <MODULE_PATH>Modulpfad</MODULE_PATH>
    <PARSER_MESSAGE>Parsermeldung</PARSER_MESSAGE>
    <PRESENT>Vorhanden</PRESENT>
    <NOT_FOUND>nicht gefunden</NOT_FOUND>
    <SEARCHING>Suche...</SEARCHING>
  </de>
  <el>
    <MINIDUMP_FILE_SUMMARY>Σύνοψη αρχείου Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Σύνοψη Dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Πληροφορίες συστήματος</SYSTEM_INFORMATION>
    <MODULES>Μονάδες</MODULES>
    <SEARCH>Αναζήτηση</SEARCH>
    <DUMP_FILE>Αρχείο Dump</DUMP_FILE>
    <LAST_WRITE_TIME>Ώρα τελευταίας εγγραφής</LAST_WRITE_TIME>
    <PROCESS_NAME>Όνομα διεργασίας</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Αρχιτεκτονική διεργασίας</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Κωδικός εξαίρεσης</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Πληροφορίες εξαίρεσης</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Πληροφορίες σωρού</HEAP_INFORMATION>
    <ERROR_INFORMATION>Πληροφορίες σφάλματος</ERROR_INFORMATION>
    <OS_VERSION>Έκδοση λειτουργικού συστήματος</OS_VERSION>
    <CLR_VERSIONS>Έκδοση/εις CLR</CLR_VERSIONS>
    <MODULE_NAME>Όνομα μονάδας</MODULE_NAME>
    <MODULE_VERSION>Έκδοση μονάδας</MODULE_VERSION>
    <MODULE_PATH>Διαδρομή μονάδας</MODULE_PATH>
    <PARSER_MESSAGE>Μήνυμα αναλυτή</PARSER_MESSAGE>
    <PRESENT>Παρόν</PRESENT>
    <NOT_FOUND>δεν βρέθηκε</NOT_FOUND>
    <SEARCHING>Αναζήτηση...</SEARCHING>
  </el>
  <en>
    <MINIDUMP_FILE_SUMMARY>Minidump File Summary</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump Summary</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>System Information</SYSTEM_INFORMATION>
    <MODULES>Modules</MODULES>
    <SEARCH>Search</SEARCH>
    <DUMP_FILE>Dump File</DUMP_FILE>
    <LAST_WRITE_TIME>Last Write Time</LAST_WRITE_TIME>
    <PROCESS_NAME>Process Name</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Process Architecture</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Exception Code</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Exception Information</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap Information</HEAP_INFORMATION>
    <ERROR_INFORMATION>Error Information</ERROR_INFORMATION>
    <OS_VERSION>OS Version</OS_VERSION>
    <CLR_VERSIONS>CLR Version(s)</CLR_VERSIONS>
    <MODULE_NAME>Module Name</MODULE_NAME>
    <MODULE_VERSION>Module Version</MODULE_VERSION>
    <MODULE_PATH>Module Path</MODULE_PATH>
    <PARSER_MESSAGE>Parser Message</PARSER_MESSAGE>
    <PRESENT>Present</PRESENT>
    <NOT_FOUND>not found</NOT_FOUND>
    <SEARCHING>Searching...</SEARCHING>
  </en>
  <es>
    <MINIDUMP_FILE_SUMMARY>Resumen del archivo Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Resumen del volcado</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Información del sistema</SYSTEM_INFORMATION>
    <MODULES>Módulos</MODULES>
    <SEARCH>Buscar</SEARCH>
    <DUMP_FILE>Archivo de volcado</DUMP_FILE>
    <LAST_WRITE_TIME>Hora de última escritura</LAST_WRITE_TIME>
    <PROCESS_NAME>Nombre del proceso</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Arquitectura del proceso</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Código de excepción</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Información de excepción</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Información del heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>Información de error</ERROR_INFORMATION>
    <OS_VERSION>Versión del SO</OS_VERSION>
    <CLR_VERSIONS>Versión(es) de CLR</CLR_VERSIONS>
    <MODULE_NAME>Nombre del módulo</MODULE_NAME>
    <MODULE_VERSION>Versión del módulo</MODULE_VERSION>
    <MODULE_PATH>Ruta del módulo</MODULE_PATH>
    <PARSER_MESSAGE>Mensaje del analizador</PARSER_MESSAGE>
    <PRESENT>Presente</PRESENT>
    <NOT_FOUND>no encontrado</NOT_FOUND>
    <SEARCHING>Buscando...</SEARCHING>
  </es>
  <fr>
    <MINIDUMP_FILE_SUMMARY>Résumé du fichier Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Résumé du dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Informations système</SYSTEM_INFORMATION>
    <MODULES>Modules</MODULES>
    <SEARCH>Rechercher</SEARCH>
    <DUMP_FILE>Fichier dump</DUMP_FILE>
    <LAST_WRITE_TIME>Dernière écriture</LAST_WRITE_TIME>
    <PROCESS_NAME>Nom du processus</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Architecture du processus</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Code d'exception</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informations sur l'exception</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informations du tas</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informations d'erreur</ERROR_INFORMATION>
    <OS_VERSION>Version du SE</OS_VERSION>
    <CLR_VERSIONS>Version(s) CLR</CLR_VERSIONS>
    <MODULE_NAME>Nom du module</MODULE_NAME>
    <MODULE_VERSION>Version du module</MODULE_VERSION>
    <MODULE_PATH>Chemin du module</MODULE_PATH>
    <PARSER_MESSAGE>Message de l'analyseur</PARSER_MESSAGE>
    <PRESENT>Présent</PRESENT>
    <NOT_FOUND>introuvable</NOT_FOUND>
    <SEARCHING>Recherche...</SEARCHING>
  </fr>
  <he>
    <MINIDUMP_FILE_SUMMARY>סיכום קובץ Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>סיכום Dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>מידע מערכת</SYSTEM_INFORMATION>
    <MODULES>מודולים</MODULES>
    <SEARCH>חיפוש</SEARCH>
    <DUMP_FILE>קובץ Dump</DUMP_FILE>
    <LAST_WRITE_TIME>זמן כתיבה אחרון</LAST_WRITE_TIME>
    <PROCESS_NAME>שם תהליך</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>ארכיטקטורת תהליך</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>קוד חריגה</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>מידע חריגה</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>מידע Heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>מידע שגיאה</ERROR_INFORMATION>
    <OS_VERSION>גרסת מערכת הפעלה</OS_VERSION>
    <CLR_VERSIONS>גרסת/גרסאות CLR</CLR_VERSIONS>
    <MODULE_NAME>שם מודול</MODULE_NAME>
    <MODULE_VERSION>גרסת מודול</MODULE_VERSION>
    <MODULE_PATH>נתיב מודול</MODULE_PATH>
    <PARSER_MESSAGE>הודעת מנתח</PARSER_MESSAGE>
    <PRESENT>קיים</PRESENT>
    <NOT_FOUND>לא נמצא</NOT_FOUND>
    <SEARCHING>מחפש...</SEARCHING>
  </he>
  <hi>
    <MINIDUMP_FILE_SUMMARY>Minidump फ़ाइल सारांश</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump सारांश</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>सिस्टम जानकारी</SYSTEM_INFORMATION>
    <MODULES>मॉड्यूल</MODULES>
    <SEARCH>खोजें</SEARCH>
    <DUMP_FILE>Dump फ़ाइल</DUMP_FILE>
    <LAST_WRITE_TIME>अंतिम लिखने का समय</LAST_WRITE_TIME>
    <PROCESS_NAME>प्रक्रिया नाम</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>प्रक्रिया आर्किटेक्चर</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>अपवाद कोड</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>अपवाद जानकारी</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap जानकारी</HEAP_INFORMATION>
    <ERROR_INFORMATION>त्रुटि जानकारी</ERROR_INFORMATION>
    <OS_VERSION>OS संस्करण</OS_VERSION>
    <CLR_VERSIONS>CLR संस्करण</CLR_VERSIONS>
    <MODULE_NAME>मॉड्यूल नाम</MODULE_NAME>
    <MODULE_VERSION>मॉड्यूल संस्करण</MODULE_VERSION>
    <MODULE_PATH>मॉड्यूल पथ</MODULE_PATH>
    <PARSER_MESSAGE>पार्सर संदेश</PARSER_MESSAGE>
    <PRESENT>मौजूद</PRESENT>
    <NOT_FOUND>नहीं मिला</NOT_FOUND>
    <SEARCHING>खोज रहा है...</SEARCHING>
  </hi>
  <hu-HU>
    <MINIDUMP_FILE_SUMMARY>Minidump fájl összegzése</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump összegzés</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Rendszerinformációk</SYSTEM_INFORMATION>
    <MODULES>Modulok</MODULES>
    <SEARCH>Keresés</SEARCH>
    <DUMP_FILE>Dump fájl</DUMP_FILE>
    <LAST_WRITE_TIME>Utolsó írás ideje</LAST_WRITE_TIME>
    <PROCESS_NAME>Folyamat neve</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Folyamat architektúrája</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Kivételkód</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Kivétel információi</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap információk</HEAP_INFORMATION>
    <ERROR_INFORMATION>Hibainformációk</ERROR_INFORMATION>
    <OS_VERSION>OS verzió</OS_VERSION>
    <CLR_VERSIONS>CLR verzió(k)</CLR_VERSIONS>
    <MODULE_NAME>Modul neve</MODULE_NAME>
    <MODULE_VERSION>Modul verziója</MODULE_VERSION>
    <MODULE_PATH>Modul elérési útja</MODULE_PATH>
    <PARSER_MESSAGE>Elemző üzenete</PARSER_MESSAGE>
    <PRESENT>Jelen van</PRESENT>
    <NOT_FOUND>nem található</NOT_FOUND>
    <SEARCHING>Keresés...</SEARCHING>
  </hu-HU>
  <id-ID>
    <MINIDUMP_FILE_SUMMARY>Ringkasan File Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Ringkasan Dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Informasi Sistem</SYSTEM_INFORMATION>
    <MODULES>Modul</MODULES>
    <SEARCH>Cari</SEARCH>
    <DUMP_FILE>File Dump</DUMP_FILE>
    <LAST_WRITE_TIME>Waktu Tulis Terakhir</LAST_WRITE_TIME>
    <PROCESS_NAME>Nama Proses</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Arsitektur Proses</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Kode Pengecualian</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informasi Pengecualian</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informasi Heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informasi Kesalahan</ERROR_INFORMATION>
    <OS_VERSION>Versi OS</OS_VERSION>
    <CLR_VERSIONS>Versi CLR</CLR_VERSIONS>
    <MODULE_NAME>Nama Modul</MODULE_NAME>
    <MODULE_VERSION>Versi Modul</MODULE_VERSION>
    <MODULE_PATH>Jalur Modul</MODULE_PATH>
    <PARSER_MESSAGE>Pesan Parser</PARSER_MESSAGE>
    <PRESENT>Ada</PRESENT>
    <NOT_FOUND>tidak ditemukan</NOT_FOUND>
    <SEARCHING>Mencari...</SEARCHING>
  </id-ID>
  <it>
    <MINIDUMP_FILE_SUMMARY>Riepilogo file Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Riepilogo dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Informazioni di sistema</SYSTEM_INFORMATION>
    <MODULES>Moduli</MODULES>
    <SEARCH>Cerca</SEARCH>
    <DUMP_FILE>File dump</DUMP_FILE>
    <LAST_WRITE_TIME>Ora ultima scrittura</LAST_WRITE_TIME>
    <PROCESS_NAME>Nome processo</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Architettura processo</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Codice eccezione</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informazioni eccezione</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informazioni heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informazioni errore</ERROR_INFORMATION>
    <OS_VERSION>Versione OS</OS_VERSION>
    <CLR_VERSIONS>Versione/i CLR</CLR_VERSIONS>
    <MODULE_NAME>Nome modulo</MODULE_NAME>
    <MODULE_VERSION>Versione modulo</MODULE_VERSION>
    <MODULE_PATH>Percorso modulo</MODULE_PATH>
    <PARSER_MESSAGE>Messaggio parser</PARSER_MESSAGE>
    <PRESENT>Presente</PRESENT>
    <NOT_FOUND>non trovato</NOT_FOUND>
    <SEARCHING>Ricerca...</SEARCHING>
  </it>
  <ja>
    <MINIDUMP_FILE_SUMMARY>Minidump ファイルの概要</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump の概要</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>システム情報</SYSTEM_INFORMATION>
    <MODULES>モジュール</MODULES>
    <SEARCH>検索</SEARCH>
    <DUMP_FILE>Dump ファイル</DUMP_FILE>
    <LAST_WRITE_TIME>最終書き込み時刻</LAST_WRITE_TIME>
    <PROCESS_NAME>プロセス名</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>プロセス アーキテクチャ</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>例外コード</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>例外情報</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>ヒープ情報</HEAP_INFORMATION>
    <ERROR_INFORMATION>エラー情報</ERROR_INFORMATION>
    <OS_VERSION>OS バージョン</OS_VERSION>
    <CLR_VERSIONS>CLR バージョン</CLR_VERSIONS>
    <MODULE_NAME>モジュール名</MODULE_NAME>
    <MODULE_VERSION>モジュール バージョン</MODULE_VERSION>
    <MODULE_PATH>モジュール パス</MODULE_PATH>
    <PARSER_MESSAGE>パーサー メッセージ</PARSER_MESSAGE>
    <PRESENT>あり</PRESENT>
    <NOT_FOUND>見つかりません</NOT_FOUND>
    <SEARCHING>検索中...</SEARCHING>
  </ja>
  <ko>
    <MINIDUMP_FILE_SUMMARY>Minidump 파일 요약</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump 요약</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>시스템 정보</SYSTEM_INFORMATION>
    <MODULES>모듈</MODULES>
    <SEARCH>검색</SEARCH>
    <DUMP_FILE>Dump 파일</DUMP_FILE>
    <LAST_WRITE_TIME>마지막 쓰기 시간</LAST_WRITE_TIME>
    <PROCESS_NAME>프로세스 이름</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>프로세스 아키텍처</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>예외 코드</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>예외 정보</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>힙 정보</HEAP_INFORMATION>
    <ERROR_INFORMATION>오류 정보</ERROR_INFORMATION>
    <OS_VERSION>OS 버전</OS_VERSION>
    <CLR_VERSIONS>CLR 버전</CLR_VERSIONS>
    <MODULE_NAME>모듈 이름</MODULE_NAME>
    <MODULE_VERSION>모듈 버전</MODULE_VERSION>
    <MODULE_PATH>모듈 경로</MODULE_PATH>
    <PARSER_MESSAGE>파서 메시지</PARSER_MESSAGE>
    <PRESENT>있음</PRESENT>
    <NOT_FOUND>찾을 수 없음</NOT_FOUND>
    <SEARCHING>검색 중...</SEARCHING>
  </ko>
  <mr>
    <MINIDUMP_FILE_SUMMARY>Minidump फाइल सारांश</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump सारांश</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>सिस्टम माहिती</SYSTEM_INFORMATION>
    <MODULES>मॉड्यूल</MODULES>
    <SEARCH>शोधा</SEARCH>
    <DUMP_FILE>Dump फाइल</DUMP_FILE>
    <LAST_WRITE_TIME>शेवटची लेखन वेळ</LAST_WRITE_TIME>
    <PROCESS_NAME>प्रक्रियेचे नाव</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>प्रक्रियेची रचना</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>अपवाद कोड</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>अपवाद माहिती</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap माहिती</HEAP_INFORMATION>
    <ERROR_INFORMATION>त्रुटी माहिती</ERROR_INFORMATION>
    <OS_VERSION>OS आवृत्ती</OS_VERSION>
    <CLR_VERSIONS>CLR आवृत्ती</CLR_VERSIONS>
    <MODULE_NAME>मॉड्यूल नाव</MODULE_NAME>
    <MODULE_VERSION>मॉड्यूल आवृत्ती</MODULE_VERSION>
    <MODULE_PATH>मॉड्यूल पथ</MODULE_PATH>
    <PARSER_MESSAGE>पार्सर संदेश</PARSER_MESSAGE>
    <PRESENT>उपस्थित</PRESENT>
    <NOT_FOUND>सापडले नाही</NOT_FOUND>
    <SEARCHING>शोधत आहे...</SEARCHING>
  </mr>
  <nb-NO>
    <MINIDUMP_FILE_SUMMARY>Sammendrag av Minidump-fil</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump-sammendrag</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Systeminformasjon</SYSTEM_INFORMATION>
    <MODULES>Moduler</MODULES>
    <SEARCH>Søk</SEARCH>
    <DUMP_FILE>Dump-fil</DUMP_FILE>
    <LAST_WRITE_TIME>Sist skrevet</LAST_WRITE_TIME>
    <PROCESS_NAME>Prosessnavn</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Prosessarkitektur</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Unntakskode</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Unntaksinformasjon</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap-informasjon</HEAP_INFORMATION>
    <ERROR_INFORMATION>Feilinformasjon</ERROR_INFORMATION>
    <OS_VERSION>OS-versjon</OS_VERSION>
    <CLR_VERSIONS>CLR-versjon(er)</CLR_VERSIONS>
    <MODULE_NAME>Modulnavn</MODULE_NAME>
    <MODULE_VERSION>Modulversjon</MODULE_VERSION>
    <MODULE_PATH>Modulbane</MODULE_PATH>
    <PARSER_MESSAGE>Parsermelding</PARSER_MESSAGE>
    <PRESENT>Til stede</PRESENT>
    <NOT_FOUND>ikke funnet</NOT_FOUND>
    <SEARCHING>Søker...</SEARCHING>
  </nb-NO>
  <nl-NL>
    <MINIDUMP_FILE_SUMMARY>Samenvatting van Minidump-bestand</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump-samenvatting</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Systeeminformatie</SYSTEM_INFORMATION>
    <MODULES>Modules</MODULES>
    <SEARCH>Zoeken</SEARCH>
    <DUMP_FILE>Dumpbestand</DUMP_FILE>
    <LAST_WRITE_TIME>Laatst geschreven</LAST_WRITE_TIME>
    <PROCESS_NAME>Procesnaam</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Procesarchitectuur</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Uitzonderingscode</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Uitzonderingsinformatie</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap-informatie</HEAP_INFORMATION>
    <ERROR_INFORMATION>Foutinformatie</ERROR_INFORMATION>
    <OS_VERSION>OS-versie</OS_VERSION>
    <CLR_VERSIONS>CLR-versie(s)</CLR_VERSIONS>
    <MODULE_NAME>Modulenaam</MODULE_NAME>
    <MODULE_VERSION>Moduleversie</MODULE_VERSION>
    <MODULE_PATH>Modulepad</MODULE_PATH>
    <PARSER_MESSAGE>Parserbericht</PARSER_MESSAGE>
    <PRESENT>Aanwezig</PRESENT>
    <NOT_FOUND>niet gevonden</NOT_FOUND>
    <SEARCHING>Zoeken...</SEARCHING>
  </nl-NL>
  <pl>
    <MINIDUMP_FILE_SUMMARY>Podsumowanie pliku Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Podsumowanie zrzutu</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Informacje o systemie</SYSTEM_INFORMATION>
    <MODULES>Moduły</MODULES>
    <SEARCH>Szukaj</SEARCH>
    <DUMP_FILE>Plik zrzutu</DUMP_FILE>
    <LAST_WRITE_TIME>Czas ostatniego zapisu</LAST_WRITE_TIME>
    <PROCESS_NAME>Nazwa procesu</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Architektura procesu</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Kod wyjątku</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informacje o wyjątku</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informacje o stercie</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informacje o błędzie</ERROR_INFORMATION>
    <OS_VERSION>Wersja systemu OS</OS_VERSION>
    <CLR_VERSIONS>Wersja/e CLR</CLR_VERSIONS>
    <MODULE_NAME>Nazwa modułu</MODULE_NAME>
    <MODULE_VERSION>Wersja modułu</MODULE_VERSION>
    <MODULE_PATH>Ścieżka modułu</MODULE_PATH>
    <PARSER_MESSAGE>Komunikat parsera</PARSER_MESSAGE>
    <PRESENT>Obecne</PRESENT>
    <NOT_FOUND>nie znaleziono</NOT_FOUND>
    <SEARCHING>Wyszukiwanie...</SEARCHING>
  </pl>
  <pt-BR>
    <MINIDUMP_FILE_SUMMARY>Resumo do arquivo Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Resumo do dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Informações do sistema</SYSTEM_INFORMATION>
    <MODULES>Módulos</MODULES>
    <SEARCH>Pesquisar</SEARCH>
    <DUMP_FILE>Arquivo dump</DUMP_FILE>
    <LAST_WRITE_TIME>Hora da última gravação</LAST_WRITE_TIME>
    <PROCESS_NAME>Nome do processo</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Arquitetura do processo</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Código da exceção</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informações da exceção</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informações de heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informações de erro</ERROR_INFORMATION>
    <OS_VERSION>Versão do SO</OS_VERSION>
    <CLR_VERSIONS>Versão(ões) do CLR</CLR_VERSIONS>
    <MODULE_NAME>Nome do módulo</MODULE_NAME>
    <MODULE_VERSION>Versão do módulo</MODULE_VERSION>
    <MODULE_PATH>Caminho do módulo</MODULE_PATH>
    <PARSER_MESSAGE>Mensagem do analisador</PARSER_MESSAGE>
    <PRESENT>Presente</PRESENT>
    <NOT_FOUND>não encontrado</NOT_FOUND>
    <SEARCHING>Pesquisando...</SEARCHING>
  </pt-BR>
  <pt-PT>
    <MINIDUMP_FILE_SUMMARY>Resumo do ficheiro Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Resumo do dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Informações do sistema</SYSTEM_INFORMATION>
    <MODULES>Módulos</MODULES>
    <SEARCH>Pesquisar</SEARCH>
    <DUMP_FILE>Ficheiro dump</DUMP_FILE>
    <LAST_WRITE_TIME>Hora da última escrita</LAST_WRITE_TIME>
    <PROCESS_NAME>Nome do processo</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Arquitetura do processo</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Código de exceção</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informações da exceção</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informações de heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informações de erro</ERROR_INFORMATION>
    <OS_VERSION>Versão do SO</OS_VERSION>
    <CLR_VERSIONS>Versão(ões) do CLR</CLR_VERSIONS>
    <MODULE_NAME>Nome do módulo</MODULE_NAME>
    <MODULE_VERSION>Versão do módulo</MODULE_VERSION>
    <MODULE_PATH>Caminho do módulo</MODULE_PATH>
    <PARSER_MESSAGE>Mensagem do analisador</PARSER_MESSAGE>
    <PRESENT>Presente</PRESENT>
    <NOT_FOUND>não encontrado</NOT_FOUND>
    <SEARCHING>A pesquisar...</SEARCHING>
  </pt-PT>
  <ro>
    <MINIDUMP_FILE_SUMMARY>Rezumat fișier Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Rezumat dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Informații sistem</SYSTEM_INFORMATION>
    <MODULES>Module</MODULES>
    <SEARCH>Căutare</SEARCH>
    <DUMP_FILE>Fișier dump</DUMP_FILE>
    <LAST_WRITE_TIME>Ora ultimei scrieri</LAST_WRITE_TIME>
    <PROCESS_NAME>Nume proces</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Arhitectură proces</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Cod excepție</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informații excepție</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informații heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informații eroare</ERROR_INFORMATION>
    <OS_VERSION>Versiune OS</OS_VERSION>
    <CLR_VERSIONS>Versiune(i) CLR</CLR_VERSIONS>
    <MODULE_NAME>Nume modul</MODULE_NAME>
    <MODULE_VERSION>Versiune modul</MODULE_VERSION>
    <MODULE_PATH>Cale modul</MODULE_PATH>
    <PARSER_MESSAGE>Mesaj parser</PARSER_MESSAGE>
    <PRESENT>Prezent</PRESENT>
    <NOT_FOUND>nu a fost găsit</NOT_FOUND>
    <SEARCHING>Se caută...</SEARCHING>
  </ro>
  <ru-RU>
    <MINIDUMP_FILE_SUMMARY>Сводка файла Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Сводка дампа</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Сведения о системе</SYSTEM_INFORMATION>
    <MODULES>Модули</MODULES>
    <SEARCH>Поиск</SEARCH>
    <DUMP_FILE>Файл дампа</DUMP_FILE>
    <LAST_WRITE_TIME>Время последней записи</LAST_WRITE_TIME>
    <PROCESS_NAME>Имя процесса</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Архитектура процесса</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Код исключения</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Сведения об исключении</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Сведения о куче</HEAP_INFORMATION>
    <ERROR_INFORMATION>Сведения об ошибке</ERROR_INFORMATION>
    <OS_VERSION>Версия ОС</OS_VERSION>
    <CLR_VERSIONS>Версия(и) CLR</CLR_VERSIONS>
    <MODULE_NAME>Имя модуля</MODULE_NAME>
    <MODULE_VERSION>Версия модуля</MODULE_VERSION>
    <MODULE_PATH>Путь модуля</MODULE_PATH>
    <PARSER_MESSAGE>Сообщение парсера</PARSER_MESSAGE>
    <PRESENT>Присутствует</PRESENT>
    <NOT_FOUND>не найдено</NOT_FOUND>
    <SEARCHING>Поиск...</SEARCHING>
  </ru-RU>
  <sk>
    <MINIDUMP_FILE_SUMMARY>Súhrn súboru Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Súhrn dumpu</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Systémové informácie</SYSTEM_INFORMATION>
    <MODULES>Moduly</MODULES>
    <SEARCH>Hľadať</SEARCH>
    <DUMP_FILE>Súbor dumpu</DUMP_FILE>
    <LAST_WRITE_TIME>Čas posledného zápisu</LAST_WRITE_TIME>
    <PROCESS_NAME>Názov procesu</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Architektúra procesu</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Kód výnimky</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Informácie o výnimke</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Informácie o halde</HEAP_INFORMATION>
    <ERROR_INFORMATION>Informácie o chybe</ERROR_INFORMATION>
    <OS_VERSION>Verzia OS</OS_VERSION>
    <CLR_VERSIONS>Verzia/e CLR</CLR_VERSIONS>
    <MODULE_NAME>Názov modulu</MODULE_NAME>
    <MODULE_VERSION>Verzia modulu</MODULE_VERSION>
    <MODULE_PATH>Cesta modulu</MODULE_PATH>
    <PARSER_MESSAGE>Správa parsera</PARSER_MESSAGE>
    <PRESENT>Prítomné</PRESENT>
    <NOT_FOUND>nenájdené</NOT_FOUND>
    <SEARCHING>Hľadá sa...</SEARCHING>
  </sk>
  <sv>
    <MINIDUMP_FILE_SUMMARY>Sammanfattning av Minidump-fil</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump-sammanfattning</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Systeminformation</SYSTEM_INFORMATION>
    <MODULES>Moduler</MODULES>
    <SEARCH>Sök</SEARCH>
    <DUMP_FILE>Dumpfil</DUMP_FILE>
    <LAST_WRITE_TIME>Senaste skrivtid</LAST_WRITE_TIME>
    <PROCESS_NAME>Processnamn</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Processarkitektur</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Undantagskod</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Undantagsinformation</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap-information</HEAP_INFORMATION>
    <ERROR_INFORMATION>Felinformation</ERROR_INFORMATION>
    <OS_VERSION>OS-version</OS_VERSION>
    <CLR_VERSIONS>CLR-version(er)</CLR_VERSIONS>
    <MODULE_NAME>Modulnamn</MODULE_NAME>
    <MODULE_VERSION>Modulversion</MODULE_VERSION>
    <MODULE_PATH>Modulsökväg</MODULE_PATH>
    <PARSER_MESSAGE>Parsermeddelande</PARSER_MESSAGE>
    <PRESENT>Finns</PRESENT>
    <NOT_FOUND>hittades inte</NOT_FOUND>
    <SEARCHING>Söker...</SEARCHING>
  </sv>
  <tr-TR>
    <MINIDUMP_FILE_SUMMARY>Minidump Dosya Özeti</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump Özeti</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Sistem Bilgileri</SYSTEM_INFORMATION>
    <MODULES>Modüller</MODULES>
    <SEARCH>Ara</SEARCH>
    <DUMP_FILE>Dump Dosyası</DUMP_FILE>
    <LAST_WRITE_TIME>Son Yazma Zamanı</LAST_WRITE_TIME>
    <PROCESS_NAME>İşlem Adı</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>İşlem Mimarisi</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Özel Durum Kodu</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Özel Durum Bilgileri</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Heap Bilgileri</HEAP_INFORMATION>
    <ERROR_INFORMATION>Hata Bilgileri</ERROR_INFORMATION>
    <OS_VERSION>OS Sürümü</OS_VERSION>
    <CLR_VERSIONS>CLR Sürüm(ler)i</CLR_VERSIONS>
    <MODULE_NAME>Modül Adı</MODULE_NAME>
    <MODULE_VERSION>Modül Sürümü</MODULE_VERSION>
    <MODULE_PATH>Modül Yolu</MODULE_PATH>
    <PARSER_MESSAGE>Ayrıştırıcı Mesajı</PARSER_MESSAGE>
    <PRESENT>Mevcut</PRESENT>
    <NOT_FOUND>bulunamadı</NOT_FOUND>
    <SEARCHING>Aranıyor...</SEARCHING>
  </tr-TR>
  <uk-UA>
    <MINIDUMP_FILE_SUMMARY>Зведення файлу Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Зведення дампа</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Відомості про систему</SYSTEM_INFORMATION>
    <MODULES>Модулі</MODULES>
    <SEARCH>Пошук</SEARCH>
    <DUMP_FILE>Файл дампа</DUMP_FILE>
    <LAST_WRITE_TIME>Час останнього запису</LAST_WRITE_TIME>
    <PROCESS_NAME>Назва процесу</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Архітектура процесу</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Код винятку</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Відомості про виняток</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Відомості про купу</HEAP_INFORMATION>
    <ERROR_INFORMATION>Відомості про помилку</ERROR_INFORMATION>
    <OS_VERSION>Версія ОС</OS_VERSION>
    <CLR_VERSIONS>Версія(ї) CLR</CLR_VERSIONS>
    <MODULE_NAME>Назва модуля</MODULE_NAME>
    <MODULE_VERSION>Версія модуля</MODULE_VERSION>
    <MODULE_PATH>Шлях модуля</MODULE_PATH>
    <PARSER_MESSAGE>Повідомлення парсера</PARSER_MESSAGE>
    <PRESENT>Присутні</PRESENT>
    <NOT_FOUND>не знайдено</NOT_FOUND>
    <SEARCHING>Пошук...</SEARCHING>
  </uk-UA>
  <vi>
    <MINIDUMP_FILE_SUMMARY>Tóm tắt tệp Minidump</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Tóm tắt dump</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>Thông tin hệ thống</SYSTEM_INFORMATION>
    <MODULES>Mô-đun</MODULES>
    <SEARCH>Tìm kiếm</SEARCH>
    <DUMP_FILE>Tệp dump</DUMP_FILE>
    <LAST_WRITE_TIME>Thời gian ghi cuối</LAST_WRITE_TIME>
    <PROCESS_NAME>Tên tiến trình</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>Kiến trúc tiến trình</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>Mã ngoại lệ</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>Thông tin ngoại lệ</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>Thông tin heap</HEAP_INFORMATION>
    <ERROR_INFORMATION>Thông tin lỗi</ERROR_INFORMATION>
    <OS_VERSION>Phiên bản OS</OS_VERSION>
    <CLR_VERSIONS>Phiên bản CLR</CLR_VERSIONS>
    <MODULE_NAME>Tên mô-đun</MODULE_NAME>
    <MODULE_VERSION>Phiên bản mô-đun</MODULE_VERSION>
    <MODULE_PATH>Đường dẫn mô-đun</MODULE_PATH>
    <PARSER_MESSAGE>Thông báo trình phân tích</PARSER_MESSAGE>
    <PRESENT>Có</PRESENT>
    <NOT_FOUND>không tìm thấy</NOT_FOUND>
    <SEARCHING>Đang tìm kiếm...</SEARCHING>
  </vi>
  <zh-CN>
    <MINIDUMP_FILE_SUMMARY>Minidump 文件摘要</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump 摘要</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>系统信息</SYSTEM_INFORMATION>
    <MODULES>模块</MODULES>
    <SEARCH>搜索</SEARCH>
    <DUMP_FILE>Dump 文件</DUMP_FILE>
    <LAST_WRITE_TIME>最后写入时间</LAST_WRITE_TIME>
    <PROCESS_NAME>进程名称</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>进程架构</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>异常代码</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>异常信息</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>堆信息</HEAP_INFORMATION>
    <ERROR_INFORMATION>错误信息</ERROR_INFORMATION>
    <OS_VERSION>OS 版本</OS_VERSION>
    <CLR_VERSIONS>CLR 版本</CLR_VERSIONS>
    <MODULE_NAME>模块名称</MODULE_NAME>
    <MODULE_VERSION>模块版本</MODULE_VERSION>
    <MODULE_PATH>模块路径</MODULE_PATH>
    <PARSER_MESSAGE>解析信息</PARSER_MESSAGE>
    <PRESENT>存在</PRESENT>
    <NOT_FOUND>未找到</NOT_FOUND>
    <SEARCHING>正在搜索...</SEARCHING>
  </zh-CN>
  <zh-TW>
    <MINIDUMP_FILE_SUMMARY>Minidump 檔案摘要</MINIDUMP_FILE_SUMMARY>
    <DUMP_SUMMARY>Dump 摘要</DUMP_SUMMARY>
    <SYSTEM_INFORMATION>系統資訊</SYSTEM_INFORMATION>
    <MODULES>模組</MODULES>
    <SEARCH>搜尋</SEARCH>
    <DUMP_FILE>Dump 檔案</DUMP_FILE>
    <LAST_WRITE_TIME>最後寫入時間</LAST_WRITE_TIME>
    <PROCESS_NAME>處理程序名稱</PROCESS_NAME>
    <PROCESS_ARCHITECTURE>處理程序架構</PROCESS_ARCHITECTURE>
    <EXCEPTION_CODE>例外代碼</EXCEPTION_CODE>
    <EXCEPTION_INFORMATION>例外資訊</EXCEPTION_INFORMATION>
    <HEAP_INFORMATION>堆積資訊</HEAP_INFORMATION>
    <ERROR_INFORMATION>錯誤資訊</ERROR_INFORMATION>
    <OS_VERSION>OS 版本</OS_VERSION>
    <CLR_VERSIONS>CLR 版本</CLR_VERSIONS>
    <MODULE_NAME>模組名稱</MODULE_NAME>
    <MODULE_VERSION>模組版本</MODULE_VERSION>
    <MODULE_PATH>模組路徑</MODULE_PATH>
    <PARSER_MESSAGE>解析資訊</PARSER_MESSAGE>
    <PRESENT>存在</PRESENT>
    <NOT_FOUND>找不到</NOT_FOUND>
    <SEARCHING>正在搜尋...</SEARCHING>
  </zh-TW>
</Translations>
