<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" targetFramework="net462" />
  <package id="Microsoft.Maui.Graphics" version="8.0.14" targetFramework="net462" />
  <package id="MsgReader" version="5.5.5" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="OpenMcdf" version="2.3.1" targetFramework="net462" />
  <package id="RtfPipe" version="2.0.7677.4303" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Drawing.Common" version="8.0.3" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.0" targetFramework="net462" />
  <package id="UTF.Unknown" version="2.5.1" targetFramework="net462" />
</packages>