<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <EXECUTABLE>Executable</EXECUTABLE>
    <FILE_HASH>Hash</FILE_HASH>
    <PF_VERSION>Prefetch Version</PF_VERSION>
    <RUN_COUNT>Run Count</RUN_COUNT>
    <LAST_RUN>Last Run</LAST_RUN>
    <LAST_RUNS>Last Run Times</LAST_RUNS>
    <FILE_METRICS>File Metrics</FILE_METRICS>
    <TRACE_CHAINS>Trace Chains</TRACE_CHAINS>
    <TOTAL_SIZE>Total Size</TOTAL_SIZE>
    <VOLUME_INFO>Volume Information</VOLUME_INFO>
    <DEVICE_NAME>Device Name</DEVICE_NAME>
    <SERIAL_NUMBER>Serial Number</SERIAL_NUMBER>
    <CREATED_ON>Created On</CREATED_ON>
    <DIRECTORIES>Directories</DIRECTORIES>
    <REFERENCED_FILES>Referenced Files</REFERENCED_FILES>
    <PARSING_ERROR>Parsing Error</PARSING_ERROR>
    <FILE_INFO>File Info</FILE_INFO>
  </en>
  <zh-CN>
    <EXECUTABLE>可执行文件</EXECUTABLE>
    <FILE_HASH>哈希值</FILE_HASH>
    <PF_VERSION>预读取版本</PF_VERSION>
    <RUN_COUNT>运行次数</RUN_COUNT>
    <LAST_RUN>最后运行</LAST_RUN>
    <LAST_RUNS>运行时间</LAST_RUNS>
    <FILE_METRICS>文件指标</FILE_METRICS>
    <TRACE_CHAINS>跟踪链</TRACE_CHAINS>
    <TOTAL_SIZE>总大小</TOTAL_SIZE>
    <VOLUME_INFO>卷信息</VOLUME_INFO>
    <DEVICE_NAME>设备名称</DEVICE_NAME>
    <SERIAL_NUMBER>序列号</SERIAL_NUMBER>
    <CREATED_ON>创建时间</CREATED_ON>
    <DIRECTORIES>目录</DIRECTORIES>
    <REFERENCED_FILES>引用的文件</REFERENCED_FILES>
    <PARSING_ERROR>解析错误</PARSING_ERROR>
    <FILE_INFO>文件信息</FILE_INFO>
  </zh-CN>
</Translations>
