<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <ALPHA>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</ALPHA>
    <DIGITS>1234567890</DIGITS>
    <PUNCTUATION>.:,;!?(){}[]</PUNCTUATION>
    <SYMBOLS>+/-*@#$%</SYMBOLS>
    <SAMPLE_TEXT>The quick brown fox jumped over the lazy dog</SAMPLE_TEXT>
  </en>
</Translations>
