<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <SAMPLE_TEXT>أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ 0123456789</SAMPLE_TEXT>
  </ar>
  <ca>
    <SAMPLE_TEXT>El llop marró ràpid salta sobre el gos mandrós. 1234567890</SAMPLE_TEXT>
  </ca>
  <el>
    <SAMPLE_TEXT>Ταχίστη αλεπού πηδάει πάνω από το τεμπέλικο σκυλί. 1234567890</SAMPLE_TEXT>
  </el>
  <es>
    <SAMPLE_TEXT>El veloz murciélago hindú comía feliz cardillo y kiwi. 1234567890</SAMPLE_TEXT>
  </es>
  <fr>
    <SAMPLE_TEXT>Portez ce vieux whisky au juge blond qui fume. 1234567890</SAMPLE_TEXT>
  </fr>
  <he>
    <SAMPLE_TEXT>דג סקרן שט בים מאוכזב ולפתע מצא לו חברה. 0123456789</SAMPLE_TEXT>
  </he>
  <hi>
    <SAMPLE_TEXT>तेज भूरी लोमड़ी आलसी कुत्ते के ऊपर कूद गई। 0123456789</SAMPLE_TEXT>
  </hi>
  <hu-HU>
    <SAMPLE_TEXT>Árvíztűrő tükörfúrógép. 1234567890</SAMPLE_TEXT>
  </hu-HU>
  <id-ID>
    <SAMPLE_TEXT>Sembilan belas pohon besar tumbuh di pinggir jalan. 1234567890</SAMPLE_TEXT>
  </id-ID>
  <it>
    <SAMPLE_TEXT>Ma la volpe col suo balzo ha raggiunto il quieto Fido. 1234567890</SAMPLE_TEXT>
  </it>
  <ja>
    <SAMPLE_TEXT>いろはにほへと ちりぬるを 0123456789</SAMPLE_TEXT>
  </ja>
  <mr>
    <SAMPLE_TEXT>चंपक लाल गब्बर सिंह झोपडीत बसला आहे. 0123456789</SAMPLE_TEXT>
  </mr>
  <nb-NO>
    <SAMPLE_TEXT>Vår sære Zulu fra badeøya spilte jo whist og quickstep. 1234567890</SAMPLE_TEXT>
  </nb-NO>
  <nl-NL>
    <SAMPLE_TEXT>Pa's wijze lynx bezag vroom het fikse aquaduct. 1234567890</SAMPLE_TEXT>
  </nl-NL>
  <pl>
    <SAMPLE_TEXT>Pójdźże, kiń tę chmurną z sylabą, gęślą jaźń. 1234567890</SAMPLE_TEXT>
  </pl>
  <pt-BR>
    <SAMPLE_TEXT>Véio zebu, câmelo, quati, jabuti, foca, índio, urso, gnu, raposa, cão. 1234567890</SAMPLE_TEXT>
  </pt-BR>
  <pt-PT>
    <SAMPLE_TEXT>Um pequeno jabuti xereta viu dez cegonhas felizes. 1234567890</SAMPLE_TEXT>
  </pt-PT>
  <ru-RU>
    <SAMPLE_TEXT>Съешь же ещё этих мягких французских булок да выпей чаю. 0123456789</SAMPLE_TEXT>
  </ru-RU>
  <sk>
    <SAMPLE_TEXT>Kŕdeľ ďatľov učí mĺkveho koňa občas žrať trávu. 1234567890</SAMPLE_TEXT>
  </sk>
  <tr-TR>
    <SAMPLE_TEXT>Pijamalı hasta yağız şoföre çabucak güvendi. 1234567890</SAMPLE_TEXT>
  </tr-TR>
  <uk-UA>
    <SAMPLE_TEXT>Фраза, що містить всі літери абетки: їжак чує шум гілки. 0123456789</SAMPLE_TEXT>
  </uk-UA>
  <vi>
    <SAMPLE_TEXT>Chú thích: Tôi yêu ngôn ngữ Việt Nam. 0123456789</SAMPLE_TEXT>
  </vi>
  <en>
    <SAMPLE_TEXT>The quick brown fox jumped over the lazy dog. 1234567890</SAMPLE_TEXT>
  </en>
  <ko>
    <SAMPLE_TEXT>지금 이 순간, 나의 아름다움은 가장 빛난다 - 비너스걸. 1234567890</SAMPLE_TEXT>
  </ko>
  <zh-CN>
    <SAMPLE_TEXT>Innovation in China 中国智造，惠及全球 0123456789</SAMPLE_TEXT>
  </zh-CN>
  <zh-TW>
    <SAMPLE_TEXT>Innovation in China 中國智造，惠及全球 0123456789</SAMPLE_TEXT>
  </zh-TW>
  <de>
    <SAMPLE_TEXT>Der schnelle braune Fuchs sprang über den faulen Hund. 1234567890</SAMPLE_TEXT>
  </de>
  <sv>
    <SAMPLE_TEXT>Flygande bäckasiner söka hwila på mjuka tuvor. 1234567890</SAMPLE_TEXT>
  </sv>
  <ro>
    <SAMPLE_TEXT>Vând muzică de jazz și haine de bun-gust în New York și Quebec, la preț fix. 1234567890</SAMPLE_TEXT>
  </ro>
</Translations>
