<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <SAMPLE_TEXT>أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>إعادة فتح كعارض خط الأيقونات</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>إعادة فتح كعارض الخط</MW_ReopenAsFontPreview>
  </ar>
  <ca>
    <SAMPLE_TEXT>El llop marró ràpid salta sobre el gos mandrós. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Torna a obrir com a visor de tipus d'icones</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Torna a obrir com a visor de tipus de lletra</MW_ReopenAsFontPreview>
  </ca>
  <el>
    <SAMPLE_TEXT>Ταχίστη αλεπού πηδάει πάνω από το τεμπέλικο σκυλί. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Επανανοίξτε ως προβολή γραμματοσειράς εικονιδίων</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Επανανοίξτε ως προβολή γραμματοσειράς</MW_ReopenAsFontPreview>
  </el>
  <es>
    <SAMPLE_TEXT>El veloz murciélago hindú comía feliz cardillo y kiwi. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Reabrir como vista de fuente de iconos</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Reabrir como vista de fuente</MW_ReopenAsFontPreview>
  </es>
  <fr>
    <SAMPLE_TEXT>Portez ce vieux whisky au juge blond qui fume. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Rouvrir comme vue de police d'icônes</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Rouvrir comme vue de police</MW_ReopenAsFontPreview>
  </fr>
  <he>
    <SAMPLE_TEXT>דג סקרן שט בים מאוכזב ולפתע מצא לו חברה. 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>פתח מחדש כתצוגת גופן אייקונים</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>פתח מחדש כתצוגת גופן</MW_ReopenAsFontPreview>
  </he>
  <hi>
    <SAMPLE_TEXT>तेज भूरी लोमड़ी आलसी कुत्ते के ऊपर कूद गई। 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>आइकन फ़ॉन्ट व्यू के रूप में फिर से खोलें</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>फ़ॉन्ट प्रीव्यू के रूप में फिर से खोलें</MW_ReopenAsFontPreview>
  </hi>
  <hu-HU>
    <SAMPLE_TEXT>Árvíztűrő tükörfúrógép. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Újranyitás ikonbetűs nézetként</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Újranyitás betűnézetként</MW_ReopenAsFontPreview>
  </hu-HU>
  <id-ID>
    <SAMPLE_TEXT>Sembilan belas pohon besar tumbuh di pinggir jalan. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Buka ulang sebagai tampilan font ikon</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Buka ulang sebagai pratinjau font</MW_ReopenAsFontPreview>
  </id-ID>
  <it>
    <SAMPLE_TEXT>Ma la volpe col suo balzo ha raggiunto il quieto Fido. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Riapri come vista font icone</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Riapri come anteprima font</MW_ReopenAsFontPreview>
  </it>
  <ja>
    <SAMPLE_TEXT>いろはにほへと ちりぬるを 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>アイコンフォントビューとして再度開く</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>フォントプレビューとして再度開く</MW_ReopenAsFontPreview>
  </ja>
  <mr>
    <SAMPLE_TEXT>चंपक लाल गब्बर सिंह झोपडीत बसला आहे. 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>आयकॉन फॉन्ट व्ह्यू म्हणून पुन्हा उघडा</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>फॉन्ट पूर्वावलोकन म्हणून पुन्हा उघडा</MW_ReopenAsFontPreview>
  </mr>
  <nb-NO>
    <SAMPLE_TEXT>Vår sære Zulu fra badeøya spilte jo whist og quickstep. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Åpne på nytt som ikonskrift-visning</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Åpne på nytt som skriftforhåndsvisning</MW_ReopenAsFontPreview>
  </nb-NO>
  <nl-NL>
    <SAMPLE_TEXT>Pa's wijze lynx bezag vroom het fikse aquaduct. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Opnieuw openen als pictogramlettertype-weergave</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Opnieuw openen als lettertypevoorbeeld</MW_ReopenAsFontPreview>
  </nl-NL>
  <pl>
    <SAMPLE_TEXT>Pójdźże, kiń tę chmurną z sylabą, gęślą jaźń. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Otwórz ponownie jako widok czcionki ikon</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Otwórz ponownie jako podgląd czcionki</MW_ReopenAsFontPreview>
  </pl>
  <pt-BR>
    <SAMPLE_TEXT>Véio zebu, câmelo, quati, jabuti, foca, índio, urso, gnu, raposa, cão. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Reabrir como visualização de fonte de ícones</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Reabrir como visualização de fonte</MW_ReopenAsFontPreview>
  </pt-BR>
  <pt-PT>
    <SAMPLE_TEXT>Um pequeno jabuti xereta viu dez cegonhas felizes. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Reabrir como visualização de fonte de ícones</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Reabrir como visualização de fonte</MW_ReopenAsFontPreview>
  </pt-PT>
  <ru-RU>
    <SAMPLE_TEXT>Съешь же ещё этих мягких французских булок да выпей чаю. 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Переоткрыть как представление шрифта иконок</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Переоткрыть как предпросмотр шрифта</MW_ReopenAsFontPreview>
  </ru-RU>
  <sk>
    <SAMPLE_TEXT>Kŕdeľ ďatľov učí mĺkveho koňa občas žrať trávu. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Znova otvoriť ako ikonový náhľad</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Znova otvoriť ako náhľad písma</MW_ReopenAsFontPreview>
  </sk>
  <tr-TR>
    <SAMPLE_TEXT>Pijamalı hasta yağız şoföre çabucak güvendi. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Simge yazı tipi görünümü olarak yeniden aç</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Yazı tipi önizlemesi olarak yeniden aç</MW_ReopenAsFontPreview>
  </tr-TR>
  <uk-UA>
    <SAMPLE_TEXT>Фраза, що містить всі літери абетки: їжак чує шум гілки. 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Перевідкрити як перегляд шрифту іконок</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Перевідкрити як попередній перегляд шрифту</MW_ReopenAsFontPreview>
  </uk-UA>
  <vi>
    <SAMPLE_TEXT>Chú thích: Tôi yêu ngôn ngữ Việt Nam. 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Mở lại dưới dạng xem phông biểu tượng</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Mở lại dưới dạng xem trước phông chữ</MW_ReopenAsFontPreview>
  </vi>
  <en>
    <SAMPLE_TEXT>The quick brown fox jumped over the lazy dog. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Reopen as Icon font view</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Reopen as Font preview</MW_ReopenAsFontPreview>
  </en>
  <ko>
    <SAMPLE_TEXT>지금 이 순간, 나의 아름다움은 가장 빛난다 - 비너스걸. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>아이콘 폰트 뷰어로 다시 열기</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>폰트 미리보기로 다시 열기</MW_ReopenAsFontPreview>
  </ko>
  <zh-CN>
    <SAMPLE_TEXT>Innovation in China 中国智造，惠及全球 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>重新作为图标字体视图打开</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>重新作为字体预览打开</MW_ReopenAsFontPreview>
  </zh-CN>
  <zh-TW>
    <SAMPLE_TEXT>Innovation in China 中國智造，惠及全球 0123456789</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>重新作為圖示字型檢視開啟</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>重新作為字型預覽開啟</MW_ReopenAsFontPreview>
  </zh-TW>
  <de>
    <SAMPLE_TEXT>Der schnelle braune Fuchs sprang über den faulen Hund. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Als Symbolschriften-Ansicht neu öffnen</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Als Schriftvorschau neu öffnen</MW_ReopenAsFontPreview>
  </de>
  <sv>
    <SAMPLE_TEXT>Flygande bäckasiner söka hwila på mjuka tuvor. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Öppna på nytt som ikontypsnittsvy</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Öppna på nytt som typsnittsförhandsvisning</MW_ReopenAsFontPreview>
  </sv>
  <ro>
    <SAMPLE_TEXT>Vând muzică de jazz și haine de bun-gust în New York și Quebec, la preț fix. 1234567890</SAMPLE_TEXT>
    <MW_ReopenAsIconFontPreview>Redeschideți ca vizualizare font pictograme</MW_ReopenAsIconFontPreview>
    <MW_ReopenAsFontPreview>Redeschideți ca previzualizare font</MW_ReopenAsFontPreview>
  </ro>
</Translations>