<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuickLook.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <userSettings>
    <QuickLook.Properties.Settings>
      <setting name="Upgraded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastUpdate" serializeAs="String">
        <value>2017-01-01</value>
      </setting>
    </QuickLook.Properties.Settings>
  </userSettings>
</configuration>