<?xml version="1.0" encoding="utf-8"?>

<Translations>
   <ar>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>يعمل كويك لووك في الخلفية</APP_START>
    <APP_SECOND>لا يزال كويك لووك عاملًا</APP_SECOND>
    <APP_SECOND_TEXT>يسمح كويك لووك بالنظر سريعًا على أنواع محددة من الملفات عبر نقر مفتاح المسافة بعد تحديد الملف</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>مسار البيانات {0} غير متاح للكتابة. تأكد رجاءً أنك تمتلك الصلاحيات الكافية</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>تصفح {0} (مجلد)</MW_BrowseFolder>
    <MW_Open>افتح الملف {0} باستخدام البرنامج الافتراضي</MW_Open>
    <MW_OpenWith>افتح الملف {0} باستخدام برنامج محدد</MW_OpenWith>
    <MW_Run>شغل الملف {0} المحدد</MW_Run>
    <Icon_RunAtStartup>شغل البرنامج أوتوماتيكيًا عند تشغيل النظام</Icon_RunAtStartup>
    <Icon_ToolTip>النسخة {0} من كويك لووك</Icon_ToolTip>
    <Icon_CheckUpdate>تأكد من وجود أي تحديث للبرنامج</Icon_CheckUpdate>
    <Icon_GetPlugin>إبحث عن إضافات جديدة</Icon_GetPlugin>
    <Icon_Quit>أغلق البرنامج</Icon_Quit>
    <Update_NoUpdate>أنت تمتلك النسخة الأحدث من البرنامج</Update_NoUpdate>
    <Update_Found>كويك لووك {0} تم إصداره. إنقر هنا لفتح صفحة التحميل</Update_Found>
    <Update_Error>حدث عطل عند البحث عن التحديثات: {0}</Update_Error>
    <InfoPanel_LastModified>تم التغيير أخر مرة في تاريخ {0} ميلادي</InfoPanel_LastModified>
    <InfoPanel_DriveSize>المساحة {0}،  {1} متوفرة</InfoPanel_DriveSize>
    <InfoPanel_Folder>مجلد: {0}</InfoPanel_Folder>
    <InfoPanel_Folders>مجلدات: {0}</InfoPanel_Folders>
    <InfoPanel_File>ملف: {0}</InfoPanel_File>
    <InfoPanel_Files>ملفات: {0}</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} - {1})</InfoPanel_FolderAndFile>
  </ar>
  <hu-HU>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook a háttérben fut</APP_START>
    <APP_SECOND>QuickLook már a háttérben fut</APP_SECOND>
    <APP_SECOND_TEXT>A QuickLook lehetővé teszi bizonyos fájltípusok gyors előnézetét a szóköz megnyomásával, amíg ki van emelve.</APP_SECOND_TEXT>
    <MW_BrowseFolder>Keresés {0}</MW_BrowseFolder>
    <MW_Open>Megnyitás {0}</MW_Open>
    <MW_OpenWith>Megnyitás ezzel {0}</MW_OpenWith>
    <MW_Run>Futtatás {0}</MW_Run>
    <Icon_RunAtStartup>Futattás &amp;Indításkor</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Keressen új &amp;Frissítést...</Icon_CheckUpdate>
    <Icon_GetPlugin>Keressen új &amp;Bővítményeket...</Icon_GetPlugin>
    <Icon_Quit>&amp;Kilépés</Icon_Quit>
    <Update_NoUpdate>A legújabb verziót használja.</Update_NoUpdate>
    <Update_Found>QuickLook {0} megjelent. Kattintson ide a letöltési oldal megnyitásához.</Update_Found>
    <Update_Error>Hiba történt a frissítés keresése közben: {0}</Update_Error>
    <InfoPanel_LastModified>Utoljára módosítva {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Méret {0}, {1} elérhető</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} mappa</InfoPanel_Folder>
    <InfoPanel_Folders>{0} mappák</InfoPanel_Folders>
    <InfoPanel_File>{0} fájl</InfoPanel_File>
    <InfoPanel_Files>{0} fájlok</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} és {1})</InfoPanel_FolderAndFile>
  </hu-HU>
  <sk>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook je spustený na pozadí.</APP_START>
    <APP_SECOND>QuickLook je spustený.</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook umožnuje rýchly náhľad určitého typu súborov stlačením medzerníka, zatiaľ čo je zvýraznený.</APP_SECOND_TEXT>
    <MW_BrowseFolder>Prehliadať {0}</MW_BrowseFolder>
    <MW_Open>Otvoriť {0}</MW_Open>
    <MW_OpenWith>Otvoriť v programe {0}</MW_OpenWith>
    <MW_Run>Spustiť {0}</MW_Run>
    <Icon_RunAtStartup>Spustiť pri &amp;štarte</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Skontrolovať &amp;aktualizácie...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Ukončiť</Icon_Quit>
    <Update_NoUpdate>Máte nainštalovanú najnovšiu verziu</Update_NoUpdate>
    <Update_Found>QuickLook {0} nie je v aktuálnej verzii. Kliknite sem na otvorenie stránky pre stiahnutie.</Update_Found>
    <Update_Error>Chyba pri zisťovaní aktualizácií: {0}</Update_Error>
    <InfoPanel_LastModified>Posledná zmena: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Veľkosť {0}, {1} voľných</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} priečinok</InfoPanel_Folder>
    <InfoPanel_Folders>{0} priečinkov</InfoPanel_Folders>
    <InfoPanel_File>{0} položka</InfoPanel_File>
    <InfoPanel_Files>{0} položiek</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} a {1})</InfoPanel_FolderAndFile>
  </sk>
  <id-ID>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook berjalan di latar belakang.</APP_START>
    <APP_SECOND>QuickLook telah berjalan</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook memungkinkan pratinjau cepat beberapa tipe berkas dengan menekan tombol spasi saat berkas tersebut disorot.</APP_SECOND_TEXT>
    <MW_BrowseFolder>Jelajahi {0}</MW_BrowseFolder>
    <MW_Open>Buka {0}</MW_Open>
    <MW_OpenWith>Buka dengan {0}</MW_OpenWith>
    <MW_Run>Jalankan {0}</MW_Run>
    <Icon_RunAtStartup>Jalankan saat &amp;Memulai</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v. {0}</Icon_ToolTip>
    <Icon_CheckUpdate>Memeriksa &amp;Pembaharuan...</Icon_CheckUpdate>
    <Icon_GetPlugin>Cari Plug-ins &amp;Baru...</Icon_GetPlugin>
    <Icon_Quit>&amp;Keluar</Icon_Quit>
    <Update_NoUpdate>Anda saat ini menggunakan versi terbaru.</Update_NoUpdate>
    <Update_Found>QuickLook v. {0} dirilis. Klik disini untuk membuka halaman unduhan.</Update_Found>
    <Update_Error>Kesalahan terjadi saat memeriksa pembaruan: {0}</Update_Error>
    <InfoPanel_LastModified>Terakhir diubah pada {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Kapasitas {0}, {1} tersedia</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} folder</InfoPanel_Folder>
    <InfoPanel_Folders>{0} folder</InfoPanel_Folders>
    <InfoPanel_File>{0} berkas</InfoPanel_File>
    <InfoPanel_Files>{0} berkas</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} dan {1})</InfoPanel_FolderAndFile>
  </id-ID>
  <ko-KR>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook이 백그라운드에서 실행 중입니다.</APP_START>
    <APP_SECOND>QuickLook이 이미 실행 중입니다</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook은 지원되는 파일 형식에 한해 파일 선택 후 스페이스바를 사용하여 미리보기를 할 수 있습니다.</APP_SECOND_TEXT>
    <MW_BrowseFolder>{0} 열기</MW_BrowseFolder>
    <MW_Open>{0} 열기</MW_Open>
    <MW_OpenWith>다음으로 열기 : {0}</MW_OpenWith>
    <MW_Run>{0} 실행</MW_Run>
    <Icon_RunAtStartup>시작 시 실행(&amp;S)</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>업데이트 확인(&amp;U)</Icon_CheckUpdate>
    <Icon_GetPlugin>새 플러그인 찾기(&amp;P)</Icon_GetPlugin>
    <Icon_Quit>종료(&amp;Q)</Icon_Quit>
    <Update_NoUpdate>최신 버전을 사용 중입니다.</Update_NoUpdate>
    <Update_Found>QuickLook {0} 버전이 출시되었습니다. 다운로드 페이지로 가려면 이곳을 클릭하십시오.</Update_Found>
    <Update_Error>업데이트 확인 중 오류가 발생하였습니다: {0}</Update_Error>
    <InfoPanel_LastModified>수정한 날짜: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>용량: {0}, 사용 가능한 공간: {1}</InfoPanel_DriveSize>
    <InfoPanel_Folder>폴더 {0}개</InfoPanel_Folder>
    <InfoPanel_Folders>폴더 {0}개</InfoPanel_Folders>
    <InfoPanel_File>파일 {0}개</InfoPanel_File>
    <InfoPanel_Files>파일 {0}개</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0}, {1})</InfoPanel_FolderAndFile>
  </ko-KR>
  <ca>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>El QuickLook s'està executant en segon pla.</APP_START>
    <APP_SECOND>El QuickLook ja s'està executant en segon pla</APP_SECOND>
    <MW_BrowseFolder>Navega {0}</MW_BrowseFolder>
    <MW_Open>Obre {0}</MW_Open>
    <MW_OpenWith>Obre'l amb {0}</MW_OpenWith>
    <MW_Run>Executa'l {0}</MW_Run>
    <Icon_RunAtStartup>Executa'l a l'&amp;inici</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Cerca &amp;actualitzacions...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Surt</Icon_Quit>
    <Update_NoUpdate>Ja teniu l'última versió.</Update_NoUpdate>
    <Update_Found>S'ha alliberat el QuickLook {0}. Feu clic aquí per a obrir la pàgina de baixada.</Update_Found>
    <Update_Error>S'ha produït un error en cercar actualitzacions: {0}</Update_Error>
    <InfoPanel_LastModified>Última modificació el {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacitat {0}, {1} disponibles</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} carpeta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} carpetes</InfoPanel_Folders>
    <InfoPanel_File>{0} fitxer</InfoPanel_File>
    <InfoPanel_Files>{0} fitxers</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} i {1})</InfoPanel_FolderAndFile>
  </ca>
  <de>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook läuft nun im Hintergrund</APP_START>
    <APP_SECOND>QuickLook wird bereits ausgeführt</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook ermöglicht es mit Drücken der Leertaste eine Vorschau der ausgewählten Datei zu öffnen</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>Keine Schreibrechte für das Verzeichnis "{0}". Bitte Berechtigungen prüfen.</APP_PATH_NOT_WRITABLE>
    <MW_StayTop>Im Vordergrund halten</MW_StayTop>
    <MW_PreventClosing>Fenster anheften</MW_PreventClosing>
    <MW_BrowseFolder>{0} öffnen</MW_BrowseFolder>
    <MW_Open>{0} öffnen</MW_Open>
    <MW_OpenWith>Öffnen mit {0}</MW_OpenWith>
    <MW_OpenWithMenu>Öffnen mit ...</MW_OpenWithMenu>
    <MW_Run>{0} ausführen</MW_Run>
    <MW_Share>Freigeben</MW_Share>
    <Icon_RunAtStartup>Beim Systemstart &amp;ausführen</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Nach &amp;Updates suchen</Icon_CheckUpdate>
    <Icon_GetPlugin>&amp;Plugins suchen (öffnet Browser)</Icon_GetPlugin>
    <Icon_Quit>&amp;Beenden</Icon_Quit>
    <Update_NoUpdate>Sie haben die neueste Version</Update_NoUpdate>
    <Update_Found>Update auf v{0} verfügbar, hier klicken um die Downloadseite zu öffnen</Update_Found>
    <Update_Error>Beim Suchen nach Updates ist ein Fehler aufgetreten: {0}</Update_Error>
    <InfoPanel_LastModified>Zuletzt geändert am {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>{1} frei von {0}</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} Ordner</InfoPanel_Folder>
    <InfoPanel_Folders>{0} Ordner</InfoPanel_Folders>
    <InfoPanel_File>{0} Datei</InfoPanel_File>
    <InfoPanel_Files>{0} Dateien</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} und {1})</InfoPanel_FolderAndFile>
  </de>
  <en>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook is running in the background.</APP_START>
    <APP_SECOND>QuickLook is already running</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook enables quick previewing of certain type of files by pressing the spacebar while it is highlighted.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>Data path "{0}" is not writable. Please check if you have sufficient permission.</APP_PATH_NOT_WRITABLE>
    <MW_StayTop>Stay on Top</MW_StayTop>
    <MW_PreventClosing>Prevent Closing</MW_PreventClosing>
    <MW_BrowseFolder>Browse {0}</MW_BrowseFolder>
    <MW_Open>Open {0}</MW_Open>
    <MW_OpenWith>Open with {0}</MW_OpenWith>
    <MW_OpenWithMenu>Open With Menu</MW_OpenWithMenu>
    <MW_Run>Run {0}</MW_Run>
    <MW_Share>Share</MW_Share>
    <Icon_RunAtStartup>Run at &amp;Startup</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Check for &amp;Updates...</Icon_CheckUpdate>
    <Icon_GetPlugin>Find new &amp;Plugins...</Icon_GetPlugin>
    <Icon_Quit>&amp;Quit</Icon_Quit>
    <Update_NoUpdate>You are now on the latest version.</Update_NoUpdate>
    <Update_Found>QuickLook {0} is released. Click here to open the download page.</Update_Found>
    <Update_Error>Error occured when checking for updates: {0}</Update_Error>
    <InfoPanel_LastModified>Last modified at {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacity {0}, {1} available</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} folder</InfoPanel_Folder>
    <InfoPanel_Folders>{0} folders</InfoPanel_Folders>
    <InfoPanel_File>{0} file</InfoPanel_File>
    <InfoPanel_Files>{0} files</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} and {1})</InfoPanel_FolderAndFile>
  </en>
  <es>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook está funcionando en segundo plano.</APP_START>
    <APP_SECOND>QuickLook ya está funcionando en segundo plano</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook permite la previsualización rápida de ciertos tipos de archivos pulsando la barra espaciadora mientras este está resaltado.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>No se puede escribir en la ruta "{0}". Por favor, compruebe si tiene suficientes permisos.</APP_PATH_NOT_WRITABLE>
    <MW_StayTop>Siempre Encima</MW_StayTop>
    <MW_PreventClosing>Evitar Cierre</MW_PreventClosing>
    <MW_BrowseFolder>Explorar {0}</MW_BrowseFolder>
    <MW_Open>Abrir {0}</MW_Open>
    <MW_OpenWith>Abrir con {0}</MW_OpenWith>
    <MW_OpenWithMenu>Abrir Con Menu</MW_OpenWithMenu>
    <MW_Run>Iniciar {0}</MW_Run>
    <MW_Share>Compartir</MW_Share>
    <Icon_RunAtStartup>Iniciar con el &amp;sistema</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Buscar &amp;Actualizaciones...</Icon_CheckUpdate>
    <Icon_GetPlugin>Buscar nuevos &amp;Plugins...</Icon_GetPlugin>
    <Icon_Quit>&amp;Salir</Icon_Quit>
    <Update_NoUpdate>Está usando la última versión.</Update_NoUpdate>
    <Update_Found>QuickLook {0} está disponible. Haga clic aquí para abrir la página de descarga.</Update_Found>
    <Update_Error>Ocurrió un error al buscar actualizaciones: {0}</Update_Error>
    <InfoPanel_LastModified>Última modificación el {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacidad {0}, {1} disponible</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} carpeta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} carpetas</InfoPanel_Folders>
    <InfoPanel_File>{0} archivo</InfoPanel_File>
    <InfoPanel_Files>{0} archivos</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} y {1})</InfoPanel_FolderAndFile>
  </es>
  <fr>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook s'exécute en tâche de fond.</APP_START>
    <APP_SECOND>QuickLook s'exécute déjà en tâche de fond</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook permet de prévisualiser rapidement certains types de fichiers en appuyant sur la barre d'espace lorsqu'ils sont sélectionnés.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>Le chemin des données "{0}" n'est pas accessible en écriture. Veuillez vérifier si vous disposez des autorisations suffisantes.</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>Ouvrir {0}</MW_BrowseFolder>
    <MW_Open>Ouvrir {0}</MW_Open>
    <MW_OpenWith>Ouvrir avec {0}</MW_OpenWith>
    <MW_Run>Exécuter {0}</MW_Run>
    <Icon_RunAtStartup>Exécuter au &amp;démarrage</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Vérifier s'il existe des &amp;mises à jour...</Icon_CheckUpdate>
    <Icon_GetPlugin>Trouver de nouveaux &amp;plugins...</Icon_GetPlugin>
    <Icon_Quit>&amp;Quitter</Icon_Quit>
    <Update_NoUpdate>Vous êtes maintenant sur la dernière version.</Update_NoUpdate>
    <Update_Found>QuickLook {0} est disponible. Cliquez ici pour ouvrir la page de téléchargement.</Update_Found>
    <Update_Error>Une erreur s'est produite lors de la vérification des mises à jour : {0}</Update_Error>
    <InfoPanel_LastModified>Dernière modification le {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacité {0}, {1} disponible</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} dossier</InfoPanel_Folder>
    <InfoPanel_Folders>{0} dossiers</InfoPanel_Folders>
    <InfoPanel_File>{0} fichier</InfoPanel_File>
    <InfoPanel_Files>{0} fichiers</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} et {1})</InfoPanel_FolderAndFile>
  </fr>
  <it>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook è in esecuzione in secondo piano.</APP_START>
    <APP_SECOND>QuickLook è già in esecuzione</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook consente l'anteprima rapida di alcuni tipi di file premendo la barra spaziatrice quando uno di essi è evidenziato.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>Non è possibile scrivere nel percorso "{0}". Assicurati di avere i permessi necessari.</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>Esplora {0}</MW_BrowseFolder>
    <MW_Open>Apri {0}</MW_Open>
    <MW_OpenWith>Apri con {0}</MW_OpenWith>
    <MW_Run>Esegui {0}</MW_Run>
    <Icon_RunAtStartup>Esegui all'&amp;Avvio</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Verifica &amp;Aggiornamenti...</Icon_CheckUpdate>
    <Icon_GetPlugin>Trova nuovi &amp;Plugin...</Icon_GetPlugin>
    <Icon_Quit>&amp;Esci</Icon_Quit>
    <Update_NoUpdate>Stai usando l'ultima versione.</Update_NoUpdate>
    <Update_Found>QuickLook {0} è disponibile. Fai click qui per aprire la pagina di download.</Update_Found>
    <Update_Error>Si è verificato un errore durante la verifica degli aggiornamenti: {0}</Update_Error>
    <InfoPanel_LastModified>Ultima modifica: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacità {0}, {1} disponibile</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} cartella</InfoPanel_Folder>
    <InfoPanel_Folders>{0} cartelle</InfoPanel_Folders>
    <InfoPanel_File>{0} file</InfoPanel_File>
    <InfoPanel_Files>{0} file</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} e {1})</InfoPanel_FolderAndFile>
  </it>
  <ja>
    <UI_FontFamily>Segoe UI,Meiryo UI,MS Gothic</UI_FontFamily>
    <APP_START>QuickLook はバックグラウンドで動作しています</APP_START>
    <APP_SECOND>QuickLook はすでにバックグラウンドで動作しています</APP_SECOND>
    <MW_BrowseFolder>{0} をブラウズ</MW_BrowseFolder>
    <MW_Open>{0} を開く</MW_Open>
    <MW_OpenWith>{0} で開く</MW_OpenWith>
    <MW_Run>{0} を起動</MW_Run>
    <Icon_RunAtStartup>スタートアップ時に起動</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>更新を確認する... (&amp;U)</Icon_CheckUpdate>
    <Icon_GetPlugin>新しいプラグインを検索する... (&amp;P)</Icon_GetPlugin>
    <Icon_Quit>終了(&amp;E)</Icon_Quit>
    <Update_NoUpdate>最新版です</Update_NoUpdate>
    <Update_Found>QuickLook {0} がリリースされました。ここをクリックしてダウンロードページを開きます。</Update_Found>
    <Update_Error>更新の確認中にエラーが発生しました: {0}</Update_Error>
    <InfoPanel_LastModified>最終更新: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>容量 {0}, {1} 使用可能</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} フォルダー</InfoPanel_Folder>
    <InfoPanel_Folders>{0} フォルダー</InfoPanel_Folders>
    <InfoPanel_File>{0} ファイル</InfoPanel_File>
    <InfoPanel_Files>{0} ファイル</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0}と {1})</InfoPanel_FolderAndFile>
  </ja>
  <nb-NO>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook kjører i bakgrunnen.</APP_START>
    <APP_SECOND>QuickLook kjører allerede i bakgrunnen</APP_SECOND>
    <MW_BrowseFolder>Bla gjennom {0}</MW_BrowseFolder>
    <MW_Open>Åpne {0}</MW_Open>
    <MW_OpenWith>Åpne med {0}</MW_OpenWith>
    <MW_Run>Kjør {0}</MW_Run>
    <Icon_RunAtStartup>Kjør ved &amp;oppstart</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Se etter &amp;oppdateringer...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Avslutt</Icon_Quit>
    <Update_NoUpdate>Du bruker nå siste versjon.</Update_NoUpdate>
    <Update_Found>QuickLook {0} er kommet ut. Klikk her for å åpne nedlastingssiden.</Update_Found>
    <Update_Error>Feil oppstod under lasting av oppdateringer: {0}</Update_Error>
    <InfoPanel_LastModified>Sist endret {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Kapasitet {0}, {1} tilgjengelig</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} mappe</InfoPanel_Folder>
    <InfoPanel_Folders>{0} mapper</InfoPanel_Folders>
    <InfoPanel_File>{0} fil</InfoPanel_File>
    <InfoPanel_Files>{0} filer</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} og {1})</InfoPanel_FolderAndFile>
  </nb-NO>
  <nl-NL>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook draait op de achtergrond.</APP_START>
    <APP_SECOND>QuickLook draait al op de achtergrond</APP_SECOND>
    <MW_BrowseFolder>Verken {0}</MW_BrowseFolder>
    <MW_Open>Open {0}</MW_Open>
    <MW_OpenWith>Openen met {0}</MW_OpenWith>
    <MW_Run>Uitvoeren {0}</MW_Run>
    <Icon_RunAtStartup>Uitvoeren bij &amp;Opstarten</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Controleren op &amp;Updates...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Sluiten</Icon_Quit>
    <Update_NoUpdate>U heeft de meest recente versie.</Update_NoUpdate>
    <Update_Found>QuickLook {0} is gereleased. Klik hier om de downloadpagina te openen.</Update_Found>
    <Update_Error>Fout tijdens controleren op updates: {0}</Update_Error>
    <InfoPanel_LastModified>Gewijzigd op {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capaciteit {0}, {1} beschikbaar</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} map</InfoPanel_Folder>
    <InfoPanel_Folders>{0} mappen</InfoPanel_Folders>
    <InfoPanel_File>{0} bestand</InfoPanel_File>
    <InfoPanel_Files>{0} bestanden</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} en {1})</InfoPanel_FolderAndFile>
  </nl-NL>
  <pl>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook działa w tle.</APP_START>
    <APP_SECOND>QuickLook jest już uruchomiony</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook pozwala szybko podejrzeć pliki poprzez naciśnięcie klawisza spacji, gdy są zaznaczone.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>Nie posiadasz możliwości zapisu w ścieżce "{0}".</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>Przeglądaj {0}</MW_BrowseFolder>
    <MW_StayTop>Przypnij do ekranu</MW_StayTop>
    <MW_PreventClosing>Zablokuj zamykanie</MW_PreventClosing>
    <MW_BrowseFolder>Przeglądaj {0}</MW_BrowseFolder>
    <MW_Open>Otwórz {0}</MW_Open>
    <MW_OpenWith>Otwórz w {0}</MW_OpenWith>
    <MW_Run>Uruchom {0}</MW_Run>
    <MW_Share>Udostępnij</MW_Share>
    <Icon_RunAtStartup>Uruchamiaj automatycznie z systemem</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Sprawdź &amp;aktualizacje...</Icon_CheckUpdate>
    <Icon_GetPlugin>Dostępne &amp;pluginy...</Icon_GetPlugin>
    <Icon_Quit>&amp;Zakończ</Icon_Quit>
    <Update_NoUpdate>Używasz już najnowszej wersji.</Update_NoUpdate>
    <Update_Found>QuickLook {0} jest dostępny. Kliknij tutaj, aby otworzyć stronę z aktualizacją do pobrania.</Update_Found>
    <Update_Error>Podczas sprawdzania aktualizacji wystąpił błąd: {0}</Update_Error>
    <InfoPanel_LastModified>Ostatnia modyfikacja: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Pojemność {0}, {1} dostępne</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} folder</InfoPanel_Folder>
    <InfoPanel_Folders>{0} folderów</InfoPanel_Folders>
    <InfoPanel_File>{0} plik</InfoPanel_File>
    <InfoPanel_Files>{0} plików</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} i {1})</InfoPanel_FolderAndFile>
  </pl>
  <pt-BR>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>O QuickLook está sendo executado.</APP_START>
    <APP_SECOND>O QuickLook já está sendo executado</APP_SECOND>
    <APP_SECOND_TEXT>O QuickLook permite a visualização rápida de certos tipos de arquivos pressionando a barra de espaço enquanto o arquivo estiver destacado.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>O caminho "{0}" não é gravável. Por favor verifique se você tem as permissões necessárias.</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>Abrir pasta {0}</MW_BrowseFolder>
    <MW_Open>Abrir {0}</MW_Open>
    <MW_OpenWith>Abrir com {0}</MW_OpenWith>
    <MW_Run>Executar {0}</MW_Run>
    <Icon_RunAtStartup>Executar na &amp;Inicialização</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Procurar por &amp;Atualizações...</Icon_CheckUpdate>
    <Icon_GetPlugin>Encontrar novos &amp;Plugins...</Icon_GetPlugin>
    <Icon_Quit>&amp;Fechar</Icon_Quit>
    <Update_NoUpdate>Executando a versão mais recente.</Update_NoUpdate>
    <Update_Found>Nova versão disponível. QuickLook {0}. Clique aqui para abrir a página de download.</Update_Found>
    <Update_Error>Ocorreu um erro ao procurar por atualizações: {0}</Update_Error>
    <InfoPanel_LastModified>Última modificação: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacidade {0}, {1} disponível</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} pasta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} pastas</InfoPanel_Folders>
    <InfoPanel_File>{0} arquivo</InfoPanel_File>
    <InfoPanel_Files>{0} arquivos</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} e {1})</InfoPanel_FolderAndFile>
  </pt-BR>
  <pt-PT>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook está em execução.</APP_START>
    <APP_SECOND>QuickLook já está em execução</APP_SECOND>
    <MW_BrowseFolder>Abrir pasta {0}</MW_BrowseFolder>
    <MW_Open>Abrir {0}</MW_Open>
    <MW_OpenWith>Abrir com {0}</MW_OpenWith>
    <MW_Run>Executar {0}</MW_Run>
    <Icon_RunAtStartup>Executar no &amp;Arranque</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Procurar por &amp;Atualizações...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Fechar</Icon_Quit>
    <Update_NoUpdate>Está a executar a versão mais recente.</Update_NoUpdate>
    <Update_Found>Está disponível o QuickLook {0}. Clique aqui para abrir a página de download.</Update_Found>
    <Update_Error>Ocorreu um erro ao procurar por atualizações: {0}</Update_Error>
    <InfoPanel_LastModified>Ultima modificação: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacidade {0}, {1} disponível</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} pasta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} pastas</InfoPanel_Folders>
    <InfoPanel_File>{0} ficheiro</InfoPanel_File>
    <InfoPanel_Files>{0} ficheiros</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} e {1})</InfoPanel_FolderAndFile>
  </pt-PT>
  <ru-RU>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook выполняется в фоновом режиме.</APP_START>
    <APP_SECOND>QuickLook уже запущен</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook добавляет быстрый предпросмотр определенных типов файлов по нажатию клавиши "Пробел", когда они подсвечены.</APP_SECOND_TEXT>
    <MW_BrowseFolder>Проводник {0}</MW_BrowseFolder>
    <MW_Open>Открыть {0}</MW_Open>
    <MW_OpenWith>Открыть с помощью {0}</MW_OpenWith>
    <MW_Run>Запустить {0}</MW_Run>
    <MW_StayTop>Поверх всех окон</MW_StayTop>
    <MW_PreventClosing>Закрепить</MW_PreventClosing>
    <MW_Share>Поделиться</MW_Share>
    <Icon_RunAtStartup>Автозапуск</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Проверить &amp;обновления…</Icon_CheckUpdate>
    <Icon_GetPlugin>Найти новые &amp;Дополнения…</Icon_GetPlugin>
    <Icon_Quit>&amp;Выход</Icon_Quit>
    <Update_NoUpdate>Вы используете последнюю версию.</Update_NoUpdate>
    <Update_Found>Выпущен QuickLook {0}. Нажмите здесь для перехода на страницу загрузки.</Update_Found>
    <Update_Error>При проверке обновлений произошла ошибка: {0}</Update_Error>
    <InfoPanel_LastModified>Последнее изменение {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Емкость {0}, {1} доступно</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} папка</InfoPanel_Folder>
    <InfoPanel_Folders>{0} папки(ок)</InfoPanel_Folders>
    <InfoPanel_File>{0} файл</InfoPanel_File>
    <InfoPanel_Files>{0} файла(ов)</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} и {1})</InfoPanel_FolderAndFile>
  </ru-RU>
  <tr-TR>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook arkaplanda çalışıyor.</APP_START>
    <APP_SECOND>QuickLook zaten çalışıyor</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook boşluk tuşuna basılarak vurgulanan belli dosya türlerinin, hızlı bir şekilde önizleme modunda görüntülenmesini sağlar.</APP_SECOND_TEXT>
    <MW_BrowseFolder>Gözat: {0}</MW_BrowseFolder>
    <MW_Open>Aç: {0}</MW_Open>
    <MW_OpenWith>Birlikte aç: {0}</MW_OpenWith>
    <MW_Run>Çalıştır: {0}</MW_Run>
    <Icon_RunAtStartup>B&amp;aşlangıçta çalıştır</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>&amp;Güncellemeleri denetle...</Icon_CheckUpdate>
    <Icon_GetPlugin>&amp;Yeni eklentiler bul...</Icon_GetPlugin>
    <Icon_Quit>Çı&amp;kış</Icon_Quit>
    <Update_NoUpdate>Son sürümü kullanıyorsunuz.</Update_NoUpdate>
    <Update_Found>QuickLook {0} sürümü yayınladı. İndirme sayfasını açmak için buraya tıklayın.</Update_Found>
    <Update_Error>Güncellemeler kontrol edilirken hata meydana geldi: {0}</Update_Error>
    <InfoPanel_LastModified>Son düzenleme zamanı: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Kapasite {0}, {1} kullanılabilir</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} klasör</InfoPanel_Folder>
    <InfoPanel_Folders>{0} klasör</InfoPanel_Folders>
    <InfoPanel_File>{0} dosya</InfoPanel_File>
    <InfoPanel_Files>{0} dosya</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} ve {1})</InfoPanel_FolderAndFile>
  </tr-TR>
  <uk-UA>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook виконується в фоновому режимі.</APP_START>
    <APP_SECOND>QuickLook вже запущено</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook дозволяє швидко переглянути певний тип файлів, натиснувши клавішу пробілу, коли він виділений.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>Шлях до даних "{0}" є недоступним для запису. Будь ласка, перевірте, чи маєте ви достатньо прав.</APP_PATH_NOT_WRITABLE>
    <MW_StayTop>Залишатися на чільному плані</MW_StayTop>
    <MW_PreventClosing>Запобігати закриттю</MW_PreventClosing>
    <MW_BrowseFolder>Переглянути {0}</MW_BrowseFolder>
    <MW_Open>Відкрити {0}</MW_Open>
    <MW_OpenWith>Відкрити за допомогою {0}</MW_OpenWith>
    <MW_OpenWithMenu>Відкрити за допомогою меню</MW_OpenWithMenu>
    <MW_Run>Запустити {0}</MW_Run>
    <MW_Share>Поширити</MW_Share>
    <Icon_RunAtStartup>Запускати під час &amp;старту</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Перевірити наявність &amp;оновлення…</Icon_CheckUpdate>
    <Icon_GetPlugin>Знайти нові &amp;Втулки…</Icon_GetPlugin>
    <Icon_Quit>&amp;Вийти</Icon_Quit>
    <Update_NoUpdate>Ви зараз на самій свіжій версії.</Update_NoUpdate>
    <Update_Found>Випущено QuickLook {0}. Натисніть тут, щоб відкрити сторінку завантаження.</Update_Found>
    <Update_Error>Виникла помилка при перевірці оновлень: {0}</Update_Error>
    <InfoPanel_LastModified>Востаннє змінено {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Ємність: {0}, доступно: {1}.</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} тека</InfoPanel_Folder>
    <InfoPanel_Folders>{0} тек(и)</InfoPanel_Folders>
    <InfoPanel_File>{0} файл</InfoPanel_File>
    <InfoPanel_Files>{0} файли(ів)</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} та {1})</InfoPanel_FolderAndFile>
  </uk-UA>
  <vi>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook đang chạy trong nền.</APP_START>
    <APP_SECOND>QuickLook đang chạy</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook cho phép xem trước nhanh chóng một số loại tệp nhất định bằng cách nhấn phím cách khi bạn chọn tệp.</APP_SECOND_TEXT>
    <MW_BrowseFolder>Duyệt {0}</MW_BrowseFolder>
    <MW_Open>Mở {0}</MW_Open>
    <MW_OpenWith>Mở bằng {0}</MW_OpenWith>
    <MW_Run>Chạy {0}</MW_Run>
    <Icon_RunAtStartup>&amp;Khởi động cùng hệ thống</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>&amp;Kiểm tra cập nhật...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Thoát</Icon_Quit>
    <Update_NoUpdate>Bạn hiện đang sử dụng phiên bản mới nhất.</Update_NoUpdate>
    <Update_Found>Đã có phiên bản QuickLook {0}. Nhấp vào đây để mở trang tải xuống.</Update_Found>
    <Update_Error>Đã xảy ra lỗi khi kiểm tra cập nhật: {0}</Update_Error>
    <InfoPanel_LastModified>Sửa đổi lần cuối lúc {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Chứa {0}, {1} có sẵn</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} thư mục</InfoPanel_Folder>
    <InfoPanel_Folders>{0} thư mục</InfoPanel_Folders>
    <InfoPanel_File>{0} tệp</InfoPanel_File>
    <InfoPanel_Files>{0} tệp</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} và {1})</InfoPanel_FolderAndFile>
  </vi>
  <zh-CN>
    <UI_FontFamily>Segoe UI,Microsoft Yahei UI,Microsoft Yahei,SimSun</UI_FontFamily>
    <APP_START>QuickLook 正在后台运行。</APP_START>
    <APP_SECOND>另一个 QuickLook 进程正在运行</APP_SECOND>
    <APP_SECOND_TEXT>在您选中文件并按下空格键时，QuickLook 将提供多种格式的快速预览。</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>数据目录 "{0}" 不可写。请检查您是否有足够的权限。</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>浏览 {0}</MW_BrowseFolder>
    <MW_Open>打开 {0}</MW_Open>
    <MW_OpenWith>用 {0} 打开</MW_OpenWith>
    <MW_Run>运行 {0}</MW_Run>
    <Icon_RunAtStartup>启动时自动运行 (&amp;S)</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>检查更新... (&amp;U)</Icon_CheckUpdate>
    <Icon_GetPlugin>获取新插件... (&amp;P)</Icon_GetPlugin>
    <Icon_Quit>退出 (&amp;Q)</Icon_Quit>
    <Update_NoUpdate>您已使用了最新版本。</Update_NoUpdate>
    <Update_Found>QuickLook {0} 已发布。点击这里打开下载页面。</Update_Found>
    <Update_Error>检查更新时发生错误：{0}</Update_Error>
    <InfoPanel_LastModified>最后修改于 {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>总容量 {0}，可用 {1}</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} 个目录</InfoPanel_Folder>
    <InfoPanel_Folders>{0} 个目录</InfoPanel_Folders>
    <InfoPanel_File>{0} 个文件</InfoPanel_File>
    <InfoPanel_Files>{0} 个文件</InfoPanel_Files>
    <InfoPanel_FolderAndFile>(含 {0}和 {1})</InfoPanel_FolderAndFile>
  </zh-CN>
  <zh-TW>
    <UI_FontFamily>Segoe UI,Microsoft JhengHei UI,Microsoft JhengHei,MingLiU</UI_FontFamily>
    <APP_START>QuickLook 正在背景執行</APP_START>
    <APP_SECOND>另一個 QuickLook 處理程序正在執行。</APP_SECOND>
    <APP_SECOND_TEXT>在資料夾中選取任意檔案並按下空白鍵，QuickLook 即可提供多種檔案格式的快速預覽。</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>數據目錄 "{0}" 不可寫。請檢查您是否有足夠的權限。</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>瀏覽 {0}</MW_BrowseFolder>
    <MW_Open>開啟 {0}</MW_Open>
    <MW_OpenWith>使用 {0} 開啟</MW_OpenWith>
    <MW_Run>執行 {0}</MW_Run>
    <Icon_RunAtStartup>系統啟動時自動執行 (&amp;S)</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>檢查更新... (&amp;U)</Icon_CheckUpdate>
    <Icon_GetPlugin>取得新外掛... (&amp;P)</Icon_GetPlugin>
    <Icon_Quit>結束 Quicklook (&amp;Q)</Icon_Quit>
    <Update_NoUpdate>您正在使用最新版本。</Update_NoUpdate>
    <Update_Found>QuickLook {0} 新版本已發布。請按一下此處開啟下載頁面。</Update_Found>
    <Update_Error>檢查更新時發生錯誤：{0}</Update_Error>
    <InfoPanel_LastModified>最後變更於 {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>總容量 {0}，可用 {1}</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} 個資料夾</InfoPanel_Folder>
    <InfoPanel_Folders>{0} 個資料夾</InfoPanel_Folders>
    <InfoPanel_File>{0} 個檔案</InfoPanel_File>
    <InfoPanel_Files>{0} 個檔案</InfoPanel_Files>
    <InfoPanel_FolderAndFile>(包含 {0}和 {1})</InfoPanel_FolderAndFile>
  </zh-TW>
  <mr>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>Quicklook पार्श्वभूमीत चालू आहे.</APP_START>
    <APP_SECOND>Quicklook आधीपासून चालू आहे.</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook निवडलेल्या विशिष्ट प्रकारच्या फाईल्सचे स्पेसबार दाबुन जलद पूर्वावलोकन करण्यात मदत करते.</APP_SECOND_TEXT>
    <MW_BrowseFolder>{0} शोधा</MW_BrowseFolder>
    <MW_Open>{0} उघडा</MW_Open>
    <MW_OpenWith>{0} च्या सह उघडा</MW_OpenWith>
    <MW_Run>{0} चालवा</MW_Run>
    <Icon_RunAtStartup>&amp;सुरूवातीस चालवा</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook आवृत्ती v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>&amp;अद्यतनांसाठी तपासा...</Icon_CheckUpdate>
    <Icon_GetPlugin>नवीन &amp;प्लगइन्स शोधा...</Icon_GetPlugin>
    <Icon_Quit>&amp;बंद करा</Icon_Quit>
    <Update_NoUpdate>आपण आता नवीनतम आवृत्ती वापरत आहात.</Update_NoUpdate>
    <Update_Found>QuickLook ची नवीन आवृत्ती {0} उपलब्ध आहे. डाउनलोड पृष्ठ उघडण्यासाठी येथे क्लिक करा.</Update_Found>
    <Update_Error>अद्यतने तपासताना त्रुटी आली: {0}</Update_Error>
    <InfoPanel_LastModified>अखेरचे सुधारित केलेः {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>क्षमता {0}, {1} उपलब्ध</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} फोल्डर</InfoPanel_Folder>
    <InfoPanel_Folders>{0} फोल्डर्स</InfoPanel_Folders>
    <InfoPanel_File>{0} फाइल</InfoPanel_File>
    <InfoPanel_Files>{0} फायली</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} आणि {1})</InfoPanel_FolderAndFile>
  </mr>
  <hi>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook पृष्ठभूमि में चल रहा है।</APP_START>
    <APP_SECOND>QuickLook पहले ही चल रहा है।</APP_SECOND>
    <APP_SECOND_TEXT>QuickLook चुनी हुई विशिष्ट प्रकार की फ़ाइलों को स्पेसबार दबाकर आपको तुरंत पूर्वावलोकन करने में मदद करता है।</APP_SECOND_TEXT>
    <MW_BrowseFolder>{0} को खोजें</MW_BrowseFolder>
    <MW_Open>{0} खोलें</MW_Open>
    <MW_OpenWith>{0} के साथ खोलें</MW_OpenWith>
    <MW_Run>{0} चलाएं</MW_Run>
    <Icon_RunAtStartup>&amp;शुरु होते समय चलाएं</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook आवृत्ती v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>&amp;अद्यतन के लिए जाँच करें...</Icon_CheckUpdate>
    <Icon_GetPlugin>नए &amp;प्लगइन्स खोजें...</Icon_GetPlugin>
    <Icon_Quit>&amp;बंद किजीए</Icon_Quit>
    <Update_NoUpdate>अब आप नवीनतम संस्करण पर हैं।</Update_NoUpdate>
    <Update_Found>QuickLook का नया संस्करण उपलब्ध है। डाउनलोड पेज खोलने के लिए यहां क्लिक करें।</Update_Found>
    <Update_Error>अपडेट की जांच करते समय त्रुटि हुई: {0}</Update_Error>
    <InfoPanel_LastModified>अंतिम बार संशोधितः {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>क्षमता {0}, {1} उपलब्ध है</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} फ़ोल्डर</InfoPanel_Folder>
    <InfoPanel_Folders>{0} फ़ोल्डर</InfoPanel_Folders>
    <InfoPanel_File>{0} फ़ाइल</InfoPanel_File>
    <InfoPanel_Files>{0} फ़ाइलें</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} तथा {1})</InfoPanel_FolderAndFile>
  </hi>
  <he>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>'תצוגה מהירה' רץ ברקע כעת.</APP_START>
    <APP_SECOND>'תצוגה מהירה' כבר רץ.</APP_SECOND>
    <APP_SECOND_TEXT>'תצוגה מהירה' מאפשר להציג בחטף תצוגה של מספר סוגי קבצים על־ידי לחיצה על מקש הרווח בזמן שהקובץ מסומן.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>הנתיב "{0}" אינו ניתן לכתיבה. בדוק בבקשה אם יש לך הרשאות מספיקות.</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>סייר ב{0}</MW_BrowseFolder>
    <MW_Open>פתח את {0}</MW_Open>
    <MW_OpenWith>פתח בעזרת {0}</MW_OpenWith>
    <MW_Run>הרץ {0}</MW_Run>
    <Icon_RunAtStartup>הרץ ב&amp;אתחול</Icon_RunAtStartup>
    <Icon_ToolTip>'תצוגה מהירה' v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>בדוק &amp;עדכונים</Icon_CheckUpdate>
    <Icon_GetPlugin>מצא &amp;תוספים חדשים</Icon_GetPlugin>
    <Icon_Quit>&amp;צא</Icon_Quit>
    <Update_NoUpdate>אתה כעת על הגרסא האחרונה</Update_NoUpdate>
    <Update_Found>'תצוגה מהירה' {0} שוחררה. לחץ כאן על מנת להוריד את העדכון</Update_Found>
    <Update_Error>שגיאה הופיעה בעת הניסיון לעדכן: {0}</Update_Error>
    <InfoPanel_LastModified>השתנה לאחרונה ב{0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>נפח {0}, {1} נותר</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} תיקייה</InfoPanel_Folder>
    <InfoPanel_Folders>{0} תיקיות</InfoPanel_Folders>
    <InfoPanel_File>{0} קובץ</InfoPanel_File>
    <InfoPanel_Files>{0} קבצים</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} ו{1})</InfoPanel_FolderAndFile>
  </he>
  <el>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>Το QuickLook εκτελείται στο παρασκήνιο.</APP_START>
    <APP_SECOND>Το QuickLook εκτελείται ήδη</APP_SECOND>
    <APP_SECOND_TEXT>Το QuickLook επιτρέπει τη γρήγορη προεπισκόπηση ορισμένων τύπων αρχείων πατώντας το πλήκτρο διαστήματος ενώ είναι επισημασμένο.</APP_SECOND_TEXT>
    <APP_PATH_NOT_WRITABLE>Η διαδρομή δεδομένων "{0}" δεν είναι εγγράψιμη. Ελέγξτε εάν έχετε επαρκή άδεια.</APP_PATH_NOT_WRITABLE>
    <MW_BrowseFolder>Αναζήτηση {0}</MW_BrowseFolder>
    <MW_Open>Άνοιγμα {0}</MW_Open>
    <MW_OpenWith>Άνοιγμα με {0}</MW_OpenWith>
    <MW_Run>Εκτέλεση {0}</MW_Run>
    <Icon_RunAtStartup>Εκτέλεση κατά &amp;την εκκίνηση</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Ελεγχος για &amp;ενημερώσεις...</Icon_CheckUpdate>
    <Icon_GetPlugin>Βρείτε νέα &amp;πρόσθετα...</Icon_GetPlugin>
    <Icon_Quit>&amp;Κλείσιμο</Icon_Quit>
    <Update_NoUpdate>Έχετε την πιο πρόσφατη έκδοση.</Update_NoUpdate>
    <Update_Found>Διαθέσιμη ενημέρωση {0} βρέθηκε. Κάντε κλικ εδώ για να ανοίξετε τη σελίδα λήψης.</Update_Found>
    <Update_Error>Παρουσιάστηκε σφάλμα κατά τον έλεγχο για ενημερώσεις: {0}</Update_Error>
    <InfoPanel_LastModified>Τελευταία τροποποίηση στις {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Διαθέσιμη {0}, {1} χωρητικότητα</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} φάκελος</InfoPanel_Folder>
    <InfoPanel_Folders>{0} φάκελοι</InfoPanel_Folders>
    <InfoPanel_File>{0} αρχείο</InfoPanel_File>
    <InfoPanel_Files>{0} αρχεία</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} και {1})</InfoPanel_FolderAndFile>
  </el>
</Translations>
