<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook is running in the background.</APP_START>
    <APP_SECOND>QuickLook is already running in the background.</APP_SECOND>
    <MW_BrowseFolder>Browse {0}</MW_BrowseFolder>
    <MW_Open>Open {0}</MW_Open>
    <MW_OpenWith>Open with {0}</MW_OpenWith>
    <MW_Run>Run {0}</MW_Run>
    <Icon_RunAtStartup>Run at &amp;Startup</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Check for &amp;Updates...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Quit</Icon_Quit>
    <Update_NoUpdate>You are now on the latest version.</Update_NoUpdate>
    <Update_Found>QuickLook {0} is released. Click here to open the download page.</Update_Found>
    <Update_Error>Error occured when checking for updates: {0}</Update_Error>
    <InfoPanel_LastModified>Last modified at {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacity {0}, {1} available</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} folder</InfoPanel_Folder>
    <InfoPanel_Folders>{0} folders</InfoPanel_Folders>
    <InfoPanel_File>{0} file</InfoPanel_File>
    <InfoPanel_Files>{0} files</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} and {1})</InfoPanel_FolderAndFile>
  </en>
  <zh-CN>
    <UI_FontFamily>Segoe UI,Microsoft Yahei UI,Microsoft Yahei,SimSun</UI_FontFamily>
    <APP_START>QuickLook 正在后台运行。</APP_START>
    <APP_SECOND>另一个 QuickLook 进程正在运行。</APP_SECOND>
    <MW_BrowseFolder>浏览 {0}</MW_BrowseFolder>
    <MW_Open>打开 {0}</MW_Open>
    <MW_OpenWith>用 {0} 打开</MW_OpenWith>
    <MW_Run>运行 {0}</MW_Run>
    <Icon_RunAtStartup>启动时自动运行 (&amp;S)</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>检查更新... (&amp;U)</Icon_CheckUpdate>
    <Icon_Quit>退出 (&amp;Q)</Icon_Quit>
    <Update_NoUpdate>您已使用了最新版本。</Update_NoUpdate>
    <Update_Found>QuickLook {0} 已发布。点击这里打开下载页面。</Update_Found>
    <Update_Error>检查更新时发生错误：{0}</Update_Error>
    <InfoPanel_LastModified>最后修改于 {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>总容量 {0}，可用 {1}</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} 个目录</InfoPanel_Folder>
    <InfoPanel_Folders>{0} 个目录</InfoPanel_Folders>
    <InfoPanel_File>{0} 个文件</InfoPanel_File>
    <InfoPanel_Files>{0} 个文件</InfoPanel_Files>
    <InfoPanel_FolderAndFile>(含 {0}和 {1})</InfoPanel_FolderAndFile>
  </zh-CN>
  <zh-TW>
    <UI_FontFamily>Segoe UI,Microsoft JhengHei UI,Microsoft JhengHei,MingLiU</UI_FontFamily>
    <APP_START>QuickLook 正在背景執行。</APP_START>
    <APP_SECOND>另一個 QuickLook 處理程序正在執行。</APP_SECOND>
    <MW_BrowseFolder>瀏覽 {0}</MW_BrowseFolder>
    <MW_Open>開啟 {0}</MW_Open>
    <MW_OpenWith>用 {0} 開啟</MW_OpenWith>
    <MW_Run>執行 {0}</MW_Run>
    <Icon_RunAtStartup>系統啟動時自動執行 (&amp;S)</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>檢查更新... (&amp;U)</Icon_CheckUpdate>
    <Icon_Quit>結束程式 (&amp;Q)</Icon_Quit>
    <Update_NoUpdate>您已使用了最新版本。</Update_NoUpdate>
    <Update_Found>QuickLook {0} 已釋出。點選這裡開啟下載頁面。</Update_Found>
    <Update_Error>檢查更新時發生錯誤：{0}</Update_Error>
    <InfoPanel_LastModified>最後變更於 {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>總容量 {0}，可用 {1}</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} 個目錄</InfoPanel_Folder>
    <InfoPanel_Folders>{0} 個目錄</InfoPanel_Folders>
    <InfoPanel_File>{0} 個檔案</InfoPanel_File>
    <InfoPanel_Files>{0} 個檔案</InfoPanel_Files>
    <InfoPanel_FolderAndFile>(含 {0}和 {1})</InfoPanel_FolderAndFile>
  </zh-TW>
  <es-ES>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook está funcionando en segundo plano.</APP_START>
    <APP_SECOND>QuickLook ya está funcionando en segundo plano.</APP_SECOND>
    <MW_BrowseFolder>Explorar {0}</MW_BrowseFolder>
    <MW_Open>Abrir {0}</MW_Open>
    <MW_OpenWith>Abrir con {0}</MW_OpenWith>
    <MW_Run>Iniciar {0}</MW_Run>
    <Icon_RunAtStartup>Iniciar con el &amp;sistema</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Buscar &amp;actualizaciones...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Salir</Icon_Quit>
    <Update_NoUpdate>Estás usando la última versión.</Update_NoUpdate>
    <Update_Found>QuickLook {0} está disponible. Haz clic aquí para abrir la página de descarga.</Update_Found>
    <Update_Error>Ocurrió un error al buscar actualizaciones: {0}</Update_Error>
    <InfoPanel_LastModified>Última modificación a las {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacidad {0}, {1} disponible</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} carpeta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} carpetas</InfoPanel_Folders>
    <InfoPanel_File>{0} archivo</InfoPanel_File>
    <InfoPanel_Files>{0} archivos</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} y {1})</InfoPanel_FolderAndFile>
  </es-ES>
  <pt-PT>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook está em execução.</APP_START>
    <APP_SECOND>QuickLook já está em execução.</APP_SECOND>
    <MW_BrowseFolder>Abrir pasta {0}</MW_BrowseFolder>
    <MW_Open>Abrir {0}</MW_Open>
    <MW_OpenWith>Abrir com {0}</MW_OpenWith>
    <MW_Run>Executar {0}</MW_Run>
    <Icon_RunAtStartup>Executar no &amp;Arranque</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Procurar por &amp;Atualizações...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Fechar</Icon_Quit>
    <Update_NoUpdate>Está a executar a versão mais recente.</Update_NoUpdate>
    <Update_Found>Está disponível o QuickLook {0}. Clique aqui para abrir a página de download.</Update_Found>
    <Update_Error>Ocorreu um erro ao procurar por atualizações: {0}</Update_Error>
    <InfoPanel_LastModified>Ultima modificação: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacidade {0}, {1} disponível</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} pasta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} pastas</InfoPanel_Folders>
    <InfoPanel_File>{0} ficheiro</InfoPanel_File>
    <InfoPanel_Files>{0} ficheiros</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} e {1})</InfoPanel_FolderAndFile>
  </pt-PT>
  <pt-BR>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook está sendo executado.</APP_START>
    <APP_SECOND>QuickLook já está sendo executado.</APP_SECOND>
    <MW_BrowseFolder>Abrir pasta {0}</MW_BrowseFolder>
    <MW_Open>Abrir {0}</MW_Open>
    <MW_OpenWith>Abrir com {0}</MW_OpenWith>
    <MW_Run>Executar {0}</MW_Run>
    <Icon_RunAtStartup>Executar no &amp;Arranque</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Procurar por &amp;Atualizações...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Fechar</Icon_Quit>
    <Update_NoUpdate>Executando a versão mais recente.</Update_NoUpdate>
    <Update_Found>Nova versão disponível. QuickLook {0}. Clique aqui para abrir a página de download.</Update_Found>
    <Update_Error>Ocorreu um erro ao procurar por atualizações: {0}</Update_Error>
    <InfoPanel_LastModified>Ultima modificação: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacidade {0}, {1} disponível</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} pasta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} pastas</InfoPanel_Folders>
    <InfoPanel_File>{0} arquivo</InfoPanel_File>
    <InfoPanel_Files>{0} arquivos</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} e {1})</InfoPanel_FolderAndFile>
  </pt-BR>
  <nl-NL>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook draait op de achtergrond.</APP_START>
    <APP_SECOND>QuickLook draait al op de achtergrond.</APP_SECOND>
    <MW_BrowseFolder>Verken {0}</MW_BrowseFolder>
    <MW_Open>Open {0}</MW_Open>
    <MW_OpenWith>Openen met {0}</MW_OpenWith>
    <MW_Run>Uitvoeren {0}</MW_Run>
    <Icon_RunAtStartup>Uitvoeren bij &amp;Opstarten</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Controleren op &amp;Updates...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Sluiten</Icon_Quit>
    <Update_NoUpdate>U heeft de meest recente versie.</Update_NoUpdate>
    <Update_Found>QuickLook {0} is gereleased. Klik hier om de downloadpagina te openen.</Update_Found>
    <Update_Error>Fout tijdens controleren op updates: {0}</Update_Error>
    <InfoPanel_LastModified>Gewijzigd op {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capaciteit {0}, {1} beschikbaar</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} map</InfoPanel_Folder>
    <InfoPanel_Folders>{0} mappen</InfoPanel_Folders>
    <InfoPanel_File>{0} bestand</InfoPanel_File>
    <InfoPanel_Files>{0} bestanden</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} en {1})</InfoPanel_FolderAndFile>
  </nl-NL>
  <it>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook è in esecuzione in secondo piano.</APP_START>
    <APP_SECOND>QuickLook è già in esecuzione in secondo piano.</APP_SECOND>
    <MW_BrowseFolder>Esplora {0}</MW_BrowseFolder>
    <MW_Open>Apri {0}</MW_Open>
    <MW_OpenWith>Apri con {0}</MW_OpenWith>
    <MW_Run>Esegui {0}</MW_Run>
    <Icon_RunAtStartup>Esegui all'&amp;Avvio</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Verifica &amp;Aggiornamenti...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Esci</Icon_Quit>
    <Update_NoUpdate>Stai usando l'ultima versione.</Update_NoUpdate>
    <Update_Found>QuickLook {0} è disponibile. Fai click qui per aprire la pagina di download.</Update_Found>
    <Update_Error>Si è verificato un errore durante la verifica degli aggiornamenti: {0}</Update_Error>
    <InfoPanel_LastModified>Ultima modifica: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacità {0}, {1} disponibile</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} cartella</InfoPanel_Folder>
    <InfoPanel_Folders>{0} cartelle</InfoPanel_Folders>
    <InfoPanel_File>{0} file</InfoPanel_File>
    <InfoPanel_Files>{0} file</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} e {1})</InfoPanel_FolderAndFile>
  </it>
  <de-DE>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook läuft im Hintergrund.</APP_START>
    <APP_SECOND>QuickLook läuft bereits im Hintergrund.</APP_SECOND>
    <MW_BrowseFolder>Durchsuchen {0}</MW_BrowseFolder>
    <MW_Open>Öffnen {0}</MW_Open>
    <MW_OpenWith>Öffnen mit {0}</MW_OpenWith>
    <MW_Run>Ausführen {0}</MW_Run>
    <Icon_RunAtStartup>Beim Systemstart &amp; ausführen</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Suche nach &amp;Updates...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Beenden</Icon_Quit>
    <Update_NoUpdate>Sie haben die neueste Version..</Update_NoUpdate>
    <Update_Found>QuickLook {0} ist verfügbar. Klicken Sie hier, um die Downloadseite zu öffnen.</Update_Found>
    <Update_Error>Beim Suchen nach Updates ist ein Fehler aufgetreten: {0}</Update_Error>
    <InfoPanel_LastModified>Zuletzt geändert am {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Speicher {0}, {1} verfügbar</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} Ordner</InfoPanel_Folder>
    <InfoPanel_Folders>{0} Ordner</InfoPanel_Folders>
    <InfoPanel_File>{0} Datei</InfoPanel_File>
    <InfoPanel_Files>{0} Dateien</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} und {1})</InfoPanel_FolderAndFile>
  </de-DE>
  <ca>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>El QuickLook s'està executant en segon pla.</APP_START>
    <APP_SECOND>El QuickLook ja s'està executant en segon pla.</APP_SECOND>
    <MW_BrowseFolder>Navega {0}</MW_BrowseFolder>
    <MW_Open>Obre {0}</MW_Open>
    <MW_OpenWith>Obre'l amb {0}</MW_OpenWith>
    <MW_Run>Executa'l {0}</MW_Run>
    <Icon_RunAtStartup>Executa'l a l'&amp;inici</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Cerca &amp;actualitzacions...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Surt</Icon_Quit>
    <Update_NoUpdate>Ja teniu l'última versió.</Update_NoUpdate>
    <Update_Found>S'ha alliberat el QuickLook {0}. Feu clic aquí per a obrir la pàgina de baixada.</Update_Found>
    <Update_Error>S'ha produït un error en cercar actualitzacions: {0}</Update_Error>
    <InfoPanel_LastModified>Última modificació el {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacitat {0}, {1} disponibles</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} carpeta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} carpetes</InfoPanel_Folders>
    <InfoPanel_File>{0} fitxer</InfoPanel_File>
    <InfoPanel_Files>{0} fitxers</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} i {1})</InfoPanel_FolderAndFile>
  </ca>
  <fr-FR>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook s'exécute en tâche de fond.</APP_START>
    <APP_SECOND>QuickLook s'exécute déjà en tâche de fond.</APP_SECOND>
    <MW_BrowseFolder>Ouvrir {0}</MW_BrowseFolder>
    <MW_Open>Ouvrir {0}</MW_Open>
    <MW_OpenWith>Ouvrir avec {0}</MW_OpenWith>
    <MW_Run>Exécuter {0}</MW_Run>
    <Icon_RunAtStartup>Exécuter au &amp;démarrage</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Vérifier s'il existe des &amp;mises à jour...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Quitter</Icon_Quit>
    <Update_NoUpdate>Vous êtes maintenant sur la dernière version.</Update_NoUpdate>
    <Update_Found>QuickLook {0} est disponible. Cliquez ici pour ouvrir la page de téléchargement.</Update_Found>
    <Update_Error>Une erreur s'est produite lors de la vérification des mises à jour : {0}</Update_Error>
    <InfoPanel_LastModified>Dernière modification le {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacité {0}, {1} disponible</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} dossier</InfoPanel_Folder>
    <InfoPanel_Folders>{0} dossiers</InfoPanel_Folders>
    <InfoPanel_File>{0} fichier</InfoPanel_File>
    <InfoPanel_Files>{0} fichiers</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} et {1})</InfoPanel_FolderAndFile>
  </fr-FR>
  <ja>
    <UI_FontFamily>Segoe UI,Meiryo UI,MS Gothic</UI_FontFamily>
    <APP_START>QuickLook はバックグラウンドで動作しています</APP_START>
    <APP_SECOND>QuickLook はすでにバックグラウンドで動作しています</APP_SECOND>
    <MW_BrowseFolder>{0} をブラウズ</MW_BrowseFolder>
    <MW_Open>{0} を開く</MW_Open>
    <MW_OpenWith>{0} で開く</MW_OpenWith>
    <MW_Run>{0} を起動</MW_Run>
    <Icon_RunAtStartup>スタートアップ時に起動</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook バージョン {0}</Icon_ToolTip>
    <Icon_CheckUpdate>更新を確認する...</Icon_CheckUpdate>
    <Icon_Quit>終了(&amp;E)</Icon_Quit>
    <Update_NoUpdate>最新版です</Update_NoUpdate>
    <Update_Found>QuickLook {0} がリリースされました。ここをクリックしてダウンロードページを開きます。</Update_Found>
    <Update_Error>更新の確認中にエラーが発生しました: {0}</Update_Error>
    <InfoPanel_LastModified>最終更新: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>容量 {0}, {1} 使用可能</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} フォルダー</InfoPanel_Folder>
    <InfoPanel_Folders>{0} フォルダー</InfoPanel_Folders>
    <InfoPanel_File>{0} ファイル</InfoPanel_File>
    <InfoPanel_Files>{0} ファイル</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0}と {1})</InfoPanel_FolderAndFile>
  </ja>
  <nb-NO>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook kjører i bakgrunnen.</APP_START>
    <APP_SECOND>QuickLook kjører allerede i bakgrunnen.</APP_SECOND>
    <MW_BrowseFolder>Bla gjennom {0}</MW_BrowseFolder>
    <MW_Open>Åpne {0}</MW_Open>
    <MW_OpenWith>Åpne med {0}</MW_OpenWith>
    <MW_Run>Kjør {0}</MW_Run>
    <Icon_RunAtStartup>Kjør ved &amp;oppstart</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Se etter &amp;oppdateringer...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Avslutt</Icon_Quit>
    <Update_NoUpdate>Du bruker nå siste versjon.</Update_NoUpdate>
    <Update_Found>QuickLook {0} er kommet ut. Klikk her for å åpne nedlastingssiden.</Update_Found>
    <Update_Error>Feil oppstod under lasting av oppdateringer: {0}</Update_Error>
    <InfoPanel_LastModified>Sist endret {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Kapasitet {0}, {1} tilgjengelig</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} mappe</InfoPanel_Folder>
    <InfoPanel_Folders>{0} mapper</InfoPanel_Folders>
    <InfoPanel_File>{0} fil</InfoPanel_File>
    <InfoPanel_Files>{0} filer</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} og {1})</InfoPanel_FolderAndFile>
  </nb-NO>
</Translations>