<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook is running in the background.</APP_START>
    <APP_SECOND>QuickLook is already running in the background.</APP_SECOND>
    <MW_BrowseFolder>Browse {0}</MW_BrowseFolder>
    <MW_Open>Open {0}</MW_Open>
    <MW_OpenWith>Open with {0}</MW_OpenWith>
    <MW_Run>Run {0}</MW_Run>
    <Icon_RunAtStartup>Run at &amp;Startup</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Check for &amp;Updates...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Quit</Icon_Quit>
    <Update_NoUpdate>You are now on the latest version.</Update_NoUpdate>
    <Update_Found>QuickLook {0} is released. Click here to open the download page.</Update_Found>
    <Update_Error>Error occured when checking for updates: {0}</Update_Error>
    <InfoPanel_LastModified>Last modified at {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacity {0}, {1} available</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} folder</InfoPanel_Folder>
    <InfoPanel_Folders>{0} folders</InfoPanel_Folders>
    <InfoPanel_File>{0} file</InfoPanel_File>
    <InfoPanel_Files>{0} files</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} and {1})</InfoPanel_FolderAndFile>
  </en>
  <zh-CN>
    <UI_FontFamily>Segoe UI,Microsoft Yahei UI,Microsoft Yahei,SimSun</UI_FontFamily>
    <APP_START>QuickLook 正在后台运行。</APP_START>
    <APP_SECOND>另一个 QuickLook 进程正在运行。</APP_SECOND>
    <MW_BrowseFolder>浏览 {0}</MW_BrowseFolder>
    <MW_Open>打开 {0}</MW_Open>
    <MW_OpenWith>用 {0} 打开</MW_OpenWith>
    <MW_Run>运行 {0}</MW_Run>
    <Icon_RunAtStartup>启动时自动运行 (&amp;S)</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>检查更新... (&amp;U)</Icon_CheckUpdate>
    <Icon_Quit>退出 (&amp;Q)</Icon_Quit>
    <Update_NoUpdate>您已使用了最新版本。</Update_NoUpdate>
    <Update_Found>QuickLook {0} 已发布。点击这里打开下载页面。</Update_Found>
    <Update_Error>检查更新时发生错误：{0}</Update_Error>
    <InfoPanel_LastModified>最后修改于 {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>总容量 {0}，可用 {1}</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} 个目录</InfoPanel_Folder>
    <InfoPanel_Folders>{0} 个目录</InfoPanel_Folders>
    <InfoPanel_File>{0} 个文件</InfoPanel_File>
    <InfoPanel_Files>{0} 个文件</InfoPanel_Files>
    <InfoPanel_FolderAndFile>(含 {0}和 {1})</InfoPanel_FolderAndFile>
  </zh-CN>
  <zh-TW>
    <UI_FontFamily>Segoe UI,Microsoft JhengHei UI,Microsoft JhengHei,MingLiU</UI_FontFamily>
    <APP_START>QuickLook 正在背景執行。</APP_START>
    <APP_SECOND>另一個 QuickLook 處理程序正在執行。</APP_SECOND>
    <MW_BrowseFolder>瀏覽 {0}</MW_BrowseFolder>
    <MW_Open>開啟 {0}</MW_Open>
    <MW_OpenWith>用 {0} 開啟</MW_OpenWith>
    <MW_Run>執行 {0}</MW_Run>
    <Icon_RunAtStartup>系統啟動時自動執行 (&amp;S)</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>檢查更新... (&amp;U)</Icon_CheckUpdate>
    <Icon_Quit>結束程式 (&amp;Q)</Icon_Quit>
    <Update_NoUpdate>您已使用了最新版本。</Update_NoUpdate>
    <Update_Found>QuickLook {0} 已釋出。點選這裡開啟下載頁面。</Update_Found>
    <Update_Error>檢查更新時發生錯誤：{0}</Update_Error>
    <InfoPanel_LastModified>最後變更於 {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>總容量 {0}，可用 {1}</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} 個目錄</InfoPanel_Folder>
    <InfoPanel_Folders>{0} 個目錄</InfoPanel_Folders>
    <InfoPanel_File>{0} 個檔案</InfoPanel_File>
    <InfoPanel_Files>{0} 個檔案</InfoPanel_Files>
    <InfoPanel_FolderAndFile>(含 {0}和 {1})</InfoPanel_FolderAndFile>
  </zh-TW>
  <es-ES>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook está funcionando en segundo plano.</APP_START>
    <APP_SECOND>QuickLook ya está funcionando en segundo plano.</APP_SECOND>
    <MW_BrowseFolder>Explorar {0}</MW_BrowseFolder>
    <MW_Open>Abrir {0}</MW_Open>
    <MW_OpenWith>Abrir con {0}</MW_OpenWith>
    <MW_Run>Iniciar {0}</MW_Run>
    <Icon_RunAtStartup>Iniciar con el &amp;sistema</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Buscar &amp;actualizaciones...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Salir</Icon_Quit>
    <Update_NoUpdate>Estás usando la última versión.</Update_NoUpdate>
    <Update_Found>QuickLook {0} está disponible. Haz clic aquí para abrir la página de descarga.</Update_Found>
    <Update_Error>Ocurrió un error al buscar actualizaciones: {0}</Update_Error>
    <InfoPanel_LastModified>Última modificación a las {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacidad {0}, {1} disponible</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} carpeta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} carpetas</InfoPanel_Folders>
    <InfoPanel_File>{0} archivo</InfoPanel_File>
    <InfoPanel_Files>{0} archivos</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} y {1})</InfoPanel_FolderAndFile>
  </es-ES>
  <pt-PT>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook está em execução.</APP_START>
    <APP_SECOND>QuickLook já está em execução.</APP_SECOND>
    <MW_BrowseFolder>Abrir pasta {0}</MW_BrowseFolder>
    <MW_Open>Abrir {0}</MW_Open>
    <MW_OpenWith>Abrir com {0}</MW_OpenWith>
    <MW_Run>Executar {0}</MW_Run>
    <Icon_RunAtStartup>Executar no &amp;Arranque</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Procurar por &amp;Atualizações...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Fechar</Icon_Quit>
    <Update_NoUpdate>Está a executar a versão mais recente.</Update_NoUpdate>
    <Update_Found>Está disponível o QuickLook {0}. Clique aqui para abrir a página de download.</Update_Found>
    <Update_Error>Ocorreu um erro ao procurar por atualizações: {0}</Update_Error>
    <InfoPanel_LastModified>Ultima modificação: {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capacidade {0}, {1} disponível</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} pasta</InfoPanel_Folder>
    <InfoPanel_Folders>{0} pastas</InfoPanel_Folders>
    <InfoPanel_File>{0} ficheiro</InfoPanel_File>
    <InfoPanel_Files>{0} ficheiros</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} e {1})</InfoPanel_FolderAndFile>
  </pt-PT>
   <nl-NL>
    <UI_FontFamily>Segoe UI</UI_FontFamily>
    <APP_START>QuickLook draait op de achtergrond.</APP_START>
    <APP_SECOND>QuickLook draait al op de achtergrond.</APP_SECOND>
    <MW_BrowseFolder>Verken {0}</MW_BrowseFolder>
    <MW_Open>Open {0}</MW_Open>
    <MW_OpenWith>Openen met {0}</MW_OpenWith>
    <MW_Run>Uitvoeren {0}</MW_Run>
    <Icon_RunAtStartup>Uitvoeren bij &amp;Opstarten</Icon_RunAtStartup>
    <Icon_ToolTip>QuickLook v{0}</Icon_ToolTip>
    <Icon_CheckUpdate>Controleren op &amp;Updates...</Icon_CheckUpdate>
    <Icon_Quit>&amp;Sluiten</Icon_Quit>
    <Update_NoUpdate>U heeft de meest recente versie.</Update_NoUpdate>
    <Update_Found>QuickLook {0} is gereleased. Klik hier om de downloadpagina te openen.</Update_Found>
    <Update_Error>Fout tijdens controleren op updates: {0}</Update_Error>
    <InfoPanel_LastModified>Gewijzigd op {0}</InfoPanel_LastModified>
    <InfoPanel_DriveSize>Capaciteit {0}, {1} beschikbaar</InfoPanel_DriveSize>
    <InfoPanel_Folder>{0} map</InfoPanel_Folder>
    <InfoPanel_Folders>{0} mappen</InfoPanel_Folders>
    <InfoPanel_File>{0} bestand</InfoPanel_File>
    <InfoPanel_Files>{0} bestanden</InfoPanel_Files>
    <InfoPanel_FolderAndFile>({0} en {1})</InfoPanel_FolderAndFile>
  </nl-NL>
</Translations>
