<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </ar>
  <hu-HU>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </hu-HU>
  <sk>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </sk>
  <id-ID>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </id-ID>
  <ko>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </ko>
  <ca>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </ca>
  <de>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </de>
  <en>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </en>
  <es>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </es>
  <fr>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </fr>
  <it>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </it>
  <ja>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </ja>
  <nb-NO>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </nb-NO>
  <nl-NL>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </nl-NL>
  <pl>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </pl>
  <pt-BR>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </pt-BR>
  <pt-PT>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </pt-PT>
  <ru-RU>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </ru-RU>
  <tr-TR>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </tr-TR>
  <uk-UA>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </uk-UA>
  <vi>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </vi>
  <zh-CN>
    <BTN_PlayPause>播放/暂停</BTN_PlayPause>
    <BTN_Loop>循环</BTN_Loop>
    <BTN_HardwareAcceleration>硬件/软件解码</BTN_HardwareAcceleration>
    <BTN_Volume>音量</BTN_Volume>
    <BTN_Time>已用/剩余时间</BTN_Time>
  </zh-CN>
  <zh-TW>
    <BTN_PlayPause>播放/暫停</BTN_PlayPause>
    <BTN_Loop>循環</BTN_Loop>
    <BTN_HardwareAcceleration>硬體/軟體解碼</BTN_HardwareAcceleration>
    <BTN_Volume>音量</BTN_Volume>
    <BTN_Time>已用/剩餘時間</BTN_Time>
  </zh-TW>
  <mr>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </mr>
  <hi>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </hi>
  <he>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </he>
  <el>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </el>
  <sv>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </sv>
  <ro>
    <BTN_PlayPause>Play/Pause</BTN_PlayPause>
    <BTN_Loop>Loop</BTN_Loop>
    <BTN_HardwareAcceleration>Hardware/Software Decoding</BTN_HardwareAcceleration>
    <BTN_Volume>Volume</BTN_Volume>
    <BTN_Time>Time Elapsed/Remaining</BTN_Time>
  </ro>
</Translations>
