<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net462" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net462" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net462" />
</packages>