<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PDFium.x64.v8-xfa" version="4194.0.0" targetFramework="net462" />
  <package id="PDFium.x86.v8-xfa" version="4194.0.0" targetFramework="net462" />
  <package id="PdfiumViewer.Updated" version="2.14.0" targetFramework="net462" />
</packages>