<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <PW_Title>Enter Password</PW_Title>
    <Pw_Hint>This file is password protected. Please enter the password to open the file.</Pw_Hint>
    <PW_Error>Check your password</PW_Error>
    <BTN_OpenFile>Open File</BTN_OpenFile>
    <BTN_Cancel>BTN_Cancel</BTN_Cancel>
  </en>
  <ja-JP>
    <PW_Title>パスワード入力</PW_Title>
    <Pw_Hint>このファイルではパスワードで保護されています。ファイルを開くにはパスワードを入力してください。</Pw_Hint>
    <PW_Error>パスワードを確認してください</PW_Error>
    <BTN_OpenFile>ファイルを開く</BTN_OpenFile>
    <BTN_Cancel>キャンセル</BTN_Cancel>
  </ja-JP>
  <zh-CN>
    <PW_Title>输入密码</PW_Title>
    <Pw_Hint>此文件受密码保护。请输入密码以打开文件。</Pw_Hint>
    <PW_Error>检查您的密码</PW_Error>
    <BTN_OpenFile>打开文件</BTN_OpenFile>
    <BTN_Cancel>取消</BTN_Cancel>
  </zh-CN>
  <zh-TW>
    <PW_Title>輸入密碼</PW_Title>
    <Pw_Hint>此檔案受密碼保護。請輸入密碼以開啟檔案。</Pw_Hint>
    <PW_Error>檢查您的密碼</PW_Error>
    <BTN_OpenFile>開啟檔案</BTN_OpenFile>
    <BTN_Cancel>取消</BTN_Cancel>
  </zh-TW>
</Translations>
