<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <TOTAL_SIZE>الحجم الكلي</TOTAL_SIZE>
    <FORMAT>التنسيق</FORMAT>
    <FORMAT_PROFILE>ملف تعريف التنسيق</FORMAT_PROFILE>
    <NAME>الاسم</NAME>
  </ar>
  <ca>
    <TOTAL_SIZE>Mida total</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Perfil de format</FORMAT_PROFILE>
    <NAME>Nom</NAME>
  </ca>
  <el>
    <TOTAL_SIZE>Συνολικό μέγεθος</TOTAL_SIZE>
    <FORMAT>Μορφή</FORMAT>
    <FORMAT_PROFILE>Προφίλ μορφής</FORMAT_PROFILE>
    <NAME>Όνομα</NAME>
  </el>
  <es>
    <TOTAL_SIZE>Tamaño total</TOTAL_SIZE>
    <FORMAT>Formato</FORMAT>
    <FORMAT_PROFILE>Perfil de formato</FORMAT_PROFILE>
    <NAME>Nombre</NAME>
  </es>
  <fr>
    <TOTAL_SIZE>Taille totale</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Profil du format</FORMAT_PROFILE>
    <NAME>Nom</NAME>
  </fr>
  <he>
    <TOTAL_SIZE>גודל כולל</TOTAL_SIZE>
    <FORMAT>פורמט</FORMAT>
    <FORMAT_PROFILE>פרופיל פורמט</FORMAT_PROFILE>
    <NAME>שם</NAME>
  </he>
  <hi>
    <TOTAL_SIZE>कुल आकार</TOTAL_SIZE>
    <FORMAT>प्रारूप</FORMAT>
    <FORMAT_PROFILE>प्रारूप प्रोफ़ाइल</FORMAT_PROFILE>
    <NAME>नाम</NAME>
  </hi>
  <hu-HU>
    <TOTAL_SIZE>Teljes méret</TOTAL_SIZE>
    <FORMAT>Formátum</FORMAT>
    <FORMAT_PROFILE>Formátum profil</FORMAT_PROFILE>
    <NAME>Név</NAME>
  </hu-HU>
  <id-ID>
    <TOTAL_SIZE>Ukuran total</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Profil Format</FORMAT_PROFILE>
    <NAME>Nama</NAME>
  </id-ID>
  <it>
    <TOTAL_SIZE>Dimensione totale</TOTAL_SIZE>
    <FORMAT>Formato</FORMAT>
    <FORMAT_PROFILE>Profilo formato</FORMAT_PROFILE>
    <NAME>Nome</NAME>
  </it>
  <mr>
    <TOTAL_SIZE>एकूण आकार</TOTAL_SIZE>
    <FORMAT>स्वरूप</FORMAT>
    <FORMAT_PROFILE>स्वरूप प्रोफाइल</FORMAT_PROFILE>
    <NAME>नाव</NAME>
  </mr>
  <nb-NO>
    <TOTAL_SIZE>Total størrelse</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Formatprofil</FORMAT_PROFILE>
    <NAME>Navn</NAME>
  </nb-NO>
  <nl-NL>
    <TOTAL_SIZE>Totale grootte</TOTAL_SIZE>
    <FORMAT>Formaat</FORMAT>
    <FORMAT_PROFILE>Formaatprofiel</FORMAT_PROFILE>
    <NAME>Naam</NAME>
  </nl-NL>
  <pl>
    <TOTAL_SIZE>Całkowity rozmiar</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Profil formatu</FORMAT_PROFILE>
    <NAME>Nazwa</NAME>
  </pl>
  <pt-PT>
    <TOTAL_SIZE>Tamanho total</TOTAL_SIZE>
    <FORMAT>Formato</FORMAT>
    <FORMAT_PROFILE>Perfil de formato</FORMAT_PROFILE>
    <NAME>Nome</NAME>
  </pt-PT>
  <ru-RU>
    <TOTAL_SIZE>Общий размер</TOTAL_SIZE>
    <FORMAT>Формат</FORMAT>
    <FORMAT_PROFILE>Профиль формата</FORMAT_PROFILE>
    <NAME>Имя</NAME>
  </ru-RU>
  <sk>
    <TOTAL_SIZE>Celková veľkosť</TOTAL_SIZE>
    <FORMAT>Formát</FORMAT>
    <FORMAT_PROFILE>Profil formátu</FORMAT_PROFILE>
    <NAME>Názov</NAME>
  </sk>
  <tr-TR>
    <TOTAL_SIZE>Toplam boyut</TOTAL_SIZE>
    <FORMAT>Biçim</FORMAT>
    <FORMAT_PROFILE>Biçim profili</FORMAT_PROFILE>
    <NAME>Ad</NAME>
  </tr-TR>
  <uk-UA>
    <TOTAL_SIZE>Загальний розмір</TOTAL_SIZE>
    <FORMAT>Формат</FORMAT>
    <FORMAT_PROFILE>Профіль формату</FORMAT_PROFILE>
    <NAME>Назва</NAME>
  </uk-UA>
  <vi>
    <TOTAL_SIZE>Tổng kích thước</TOTAL_SIZE>
    <FORMAT>Định dạng</FORMAT>
    <FORMAT_PROFILE>Hồ sơ định dạng</FORMAT_PROFILE>
    <NAME>Tên</NAME>
  </vi>
  <en>
    <TOTAL_SIZE>Total Size</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Format Profile</FORMAT_PROFILE>
    <NAME>Name</NAME>
  </en>
  <ko>
    <TOTAL_SIZE>전체 크기</TOTAL_SIZE>
    <FORMAT>형식</FORMAT>
    <FORMAT_PROFILE>형식 프로필</FORMAT_PROFILE>
    <NAME>이름</NAME>
  </ko>
  <pt-BR>
    <TOTAL_SIZE>Tamanho total</TOTAL_SIZE>
    <FORMAT>Formato</FORMAT>
    <FORMAT_PROFILE>Perfil do Formato</FORMAT_PROFILE>
    <NAME>Nome</NAME>
  </pt-BR>
  <zh-CN>
    <TOTAL_SIZE>总大小</TOTAL_SIZE>
    <FORMAT>格式</FORMAT>
    <FORMAT_PROFILE>格式配置</FORMAT_PROFILE>
    <NAME>名称</NAME>
  </zh-CN>
  <zh-TW>
    <TOTAL_SIZE>縂大小</TOTAL_SIZE>
    <FORMAT>格式</FORMAT>
    <FORMAT_PROFILE>格式設定</FORMAT_PROFILE>
    <NAME>名稱</NAME>
  </zh-TW>
  <ja>
    <TOTAL_SIZE>合計サイズ</TOTAL_SIZE>
    <FORMAT>フォーマット</FORMAT>
    <FORMAT_PROFILE>フォーマットプロファイル</FORMAT_PROFILE>
    <NAME>名称</NAME>
  </ja>
  <de>
    <TOTAL_SIZE>Gesamtgröße</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Formatprofil</FORMAT_PROFILE>
    <NAME>Name</NAME>
  </de>
  <sv>
    <TOTAL_SIZE>Total storlek</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Formatprofil</FORMAT_PROFILE>
    <NAME>Namn</NAME>
  </sv>
  <ro>
    <TOTAL_SIZE>Dimensiune totală</TOTAL_SIZE>
    <FORMAT>Format</FORMAT>
    <FORMAT_PROFILE>Profil format</FORMAT_PROFILE>
    <NAME>Nume</NAME>
  </ro>
</Translations>
