<?xml version="1.0" encoding="utf-8"?>

<Translations>
    <en>
        <TOTAL_SIZE>Total Size</TOTAL_SIZE>
        <FORMAT>Format</FORMAT>
        <FORMAT_PROFILE>Format Profile</FORMAT_PROFILE>
        <NAME>Name</NAME>
    </en>
    <ko>
        <TOTAL_SIZE>전체 크기</TOTAL_SIZE>
        <FORMAT>형식</FORMAT>
        <FORMAT_PROFILE>형식 프로필</FORMAT_PROFILE>
        <NAME>이름</NAME>
    </ko>
    <pt-BR>
        <TOTAL_SIZE>Tamanho total</TOTAL_SIZE>
        <FORMAT>Formato</FORMAT>
        <FORMAT_PROFILE>Perfil do Formato</FORMAT_PROFILE>
        <NAME>Nome</NAME>
    </pt-BR>
    <zh-CN>
        <TOTAL_SIZE>总大小</TOTAL_SIZE>
        <FORMAT>格式</FORMAT>
        <FORMAT_PROFILE>格式配置</FORMAT_PROFILE>
        <NAME>名称</NAME>
    </zh-CN>
    <zh-TW>
        <TOTAL_SIZE>縂大小</TOTAL_SIZE>
        <FORMAT>格式</FORMAT>
        <FORMAT_PROFILE>格式設定</FORMAT_PROFILE>
        <NAME>名稱</NAME>
    </zh-TW>
    <ja>
        <TOTAL_SIZE>合計サイズ</TOTAL_SIZE>
        <FORMAT>フォーマット</FORMAT>
        <FORMAT_PROFILE>フォーマットプロファイル</FORMAT_PROFILE>
        <NAME>名称</NAME>
    </ja>
    <de>
        <TOTAL_SIZE>Gesamtgröße</TOTAL_SIZE>
        <FORMAT>Format</FORMAT>
        <FORMAT_PROFILE>Formatprofil</FORMAT_PROFILE>
        <NAME>Name</NAME>
    </de>
    <sv>
        <TOTAL_SIZE>Total storlek</TOTAL_SIZE>
        <FORMAT>Format</FORMAT>
        <FORMAT_PROFILE>Formatprofil</FORMAT_PROFILE>
        <NAME>Namn</NAME>
    </sv>
</Translations>
