<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="6.2.0" targetFramework="net462" />
  <package id="Magick.NET.SystemWindowsMedia" version="3.0.9" targetFramework="net462" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.23.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>