<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ca>
    <MW_ReopenAsSourceCode>Torna a obrir com a codi font</MW_ReopenAsSourceCode>
  </ca>
  <he>
    <MW_ReopenAsSourceCode>פתח מחדש כקוד מקור</MW_ReopenAsSourceCode>
  </he>
  <hi>
    <MW_ReopenAsSourceCode>सोर्स कोड के रूप में पुनः खोलें</MW_ReopenAsSourceCode>
  </hi>
  <hu-HU>
    <MW_ReopenAsSourceCode>Újranyitás forráskódként</MW_ReopenAsSourceCode>
  </hu-HU>
  <id-ID>
    <MW_ReopenAsSourceCode>Buka ulang sebagai kode sumber</MW_ReopenAsSourceCode>
  </id-ID>
  <mr>
    <MW_ReopenAsSourceCode>स्रोत कोड म्हणून पुन्हा उघडा</MW_ReopenAsSourceCode>
  </mr>
  <nb-NO>
    <MW_ReopenAsSourceCode>Åpne på nytt som kildekode</MW_ReopenAsSourceCode>
  </nb-NO>
  <nl-NL>
    <MW_ReopenAsSourceCode>Opnieuw openen als broncode</MW_ReopenAsSourceCode>
  </nl-NL>
  <pt-BR>
    <MW_ReopenAsSourceCode>Reabrir como código-fonte</MW_ReopenAsSourceCode>
  </pt-BR>
  <pt-PT>
    <MW_ReopenAsSourceCode>Reabrir como código-fonte</MW_ReopenAsSourceCode>
  </pt-PT>
  <ru-RU>
    <MW_ReopenAsSourceCode>Открыть заново как исходный код</MW_ReopenAsSourceCode>
  </ru-RU>
  <sk>
    <MW_ReopenAsSourceCode>Znovu otvoriť ako zdrojový kód</MW_ReopenAsSourceCode>
  </sk>
  <tr-TR>
    <MW_ReopenAsSourceCode>Kaynak kod olarak yeniden aç</MW_ReopenAsSourceCode>
  </tr-TR>
  <vi>
    <MW_ReopenAsSourceCode>Mở lại dưới dạng mã nguồn</MW_ReopenAsSourceCode>
  </vi>
  <en>
    <MW_ReopenAsSourceCode>Reopen as source code</MW_ReopenAsSourceCode>
  </en>
  <ko>
    <MW_ReopenAsSourceCode>소스 코드로 다시 열기</MW_ReopenAsSourceCode>
  </ko>
  <de>
    <MW_ReopenAsSourceCode>Als Quellcode erneut öffnen</MW_ReopenAsSourceCode>
  </de>
  <fr>
    <MW_ReopenAsSourceCode>Rouvrir en tant que code source</MW_ReopenAsSourceCode>
  </fr>
  <ja>
    <MW_ReopenAsSourceCode>ソースコードとして再度開く</MW_ReopenAsSourceCode>
  </ja>
  <zh-CN>
    <MW_ReopenAsSourceCode>以源代码方式重新打开</MW_ReopenAsSourceCode>
  </zh-CN>
  <zh-TW>
    <MW_ReopenAsSourceCode>以原始碼方式重新開啟</MW_ReopenAsSourceCode>
  </zh-TW>
  <es>
    <MW_ReopenAsSourceCode>Reabrir como código fuente</MW_ReopenAsSourceCode>
  </es>
  <it>
    <MW_ReopenAsSourceCode>Riapri come codice sorgente</MW_ReopenAsSourceCode>
  </it>
  <ar>
    <MW_ReopenAsSourceCode>إعادة الفتح كرمز مصدر</MW_ReopenAsSourceCode>
  </ar>
  <pl>
    <MW_ReopenAsSourceCode>Otwórz ponownie jako kod źródłowy</MW_ReopenAsSourceCode>
  </pl>
  <el>
    <MW_ReopenAsSourceCode>Επαναάνοιγμα ως πηγαίος κώδικας</MW_ReopenAsSourceCode>
  </el>
  <uk-UA>
    <MW_ReopenAsSourceCode>Відкрити знову як вихідний код</MW_ReopenAsSourceCode>
  </uk-UA>
  <sv>
    <MW_ReopenAsSourceCode>Öppna igen som källkod</MW_ReopenAsSourceCode>
  </sv>
  <ro>
    <MW_ReopenAsSourceCode>Redeschideți ca cod sursă</MW_ReopenAsSourceCode>
  </ro>
</Translations>
