<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <PRODUCT_VERSION>إصدار المنتج</PRODUCT_VERSION>
    <PRODUCT_NAME>اسم المنتج</PRODUCT_NAME>
    <MANUFACTURER>الشركة المصنعة</MANUFACTURER>
    <TOTAL_SIZE>الحجم الكلي</TOTAL_SIZE>
    <LAST_MODIFIED>آخر تعديل</LAST_MODIFIED>
    <PUBLISHER>الناشر</PUBLISHER>
    <CAPABILITIES>القدرات</CAPABILITIES>
    <ABI>ABI</ABI>
    <APP_NAME>التطبيق</APP_NAME>
    <APP_VERSION>الإصدار</APP_VERSION>
    <APP_VERSION_NAME>اسم الإصدار</APP_VERSION_NAME>
    <APP_VERSION_CODE>رمز الإصدار</APP_VERSION_CODE>
    <PERMISSIONS>الأذونات</PERMISSIONS>
    <PACKAGE_NAME>اسم الحزمة</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>أدنى إصدار SDK</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>إصدار SDK المستهدف</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>أدنى إصدار نظام</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>إصدار النظام المستهدف</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>عائلة الجهاز</DEVICE_FAMILY>
    <BUNDLE_NAME>اسم الحزمة</BUNDLE_NAME>
    <DEVICE_TYPES>أنواع الأجهزة</DEVICE_TYPES>
    <APP_MIN_API_VERSION>أدنى إصدار API</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>إصدار API المستهدف</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>إصدار SDK المترجم</COMPILE_SDK_VERSION>
    <ARCHITECTURE>البنية</ARCHITECTURE>
    <MAINTAINER>المسؤول</MAINTAINER>
    <DESCRIPTION>الوصف</DESCRIPTION>
    <ENVIRONMENT>البيئة</ENVIRONMENT>
    <TYPE>النوع</TYPE>
    <TERMINAL>طرفية</TERMINAL>
    <VENDOR>المورد</VENDOR>
  </ar>
  <hu-HU>
    <PRODUCT_VERSION>Termékverzió</PRODUCT_VERSION>
    <PRODUCT_NAME>Terméknév</PRODUCT_NAME>
    <MANUFACTURER>Gyártó</MANUFACTURER>
    <TOTAL_SIZE>Teljes méret</TOTAL_SIZE>
    <LAST_MODIFIED>Utoljára módosítva</LAST_MODIFIED>
    <PUBLISHER>Kiadó</PUBLISHER>
    <CAPABILITIES>Képességek</CAPABILITIES>
    <ABI>ABI</ABI>
    <APP_NAME>Alkalmazás</APP_NAME>
    <APP_VERSION>Verzió</APP_VERSION>
    <APP_VERSION_NAME>Verzió neve</APP_VERSION_NAME>
    <APP_VERSION_CODE>Verzió kód</APP_VERSION_CODE>
    <PERMISSIONS>Engedélyek</PERMISSIONS>
    <PACKAGE_NAME>Csomagnév</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>Minimális SDK verzió</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>Cél SDK verzió</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>Minimális OS verzió</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>Cél OS verzió</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>Eszközcsalád</DEVICE_FAMILY>
    <BUNDLE_NAME>Csomagnév</BUNDLE_NAME>
    <DEVICE_TYPES>Eszköztípusok</DEVICE_TYPES>
    <APP_MIN_API_VERSION>Minimális API verzió</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>Cél API verzió</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>Fordított SDK verzió</COMPILE_SDK_VERSION>
    <ARCHITECTURE>Architektúra</ARCHITECTURE>
    <MAINTAINER>Karbantartó</MAINTAINER>
    <DESCRIPTION>Leírás</DESCRIPTION>
    <ENVIRONMENT>Környezet</ENVIRONMENT>
    <TYPE>Típus</TYPE>
    <TERMINAL>Terminál</TERMINAL>
    <VENDOR>Szállító</VENDOR>
  </hu-HU>
  <sk>
    <PRODUCT_VERSION>Verzia produktu</PRODUCT_VERSION>
    <PRODUCT_NAME>Názov produktu</PRODUCT_NAME>
    <MANUFACTURER>Výrobca</MANUFACTURER>
    <TOTAL_SIZE>Celková veľkosť</TOTAL_SIZE>
    <LAST_MODIFIED>Posledná zmena</LAST_MODIFIED>
    <PUBLISHER>Vydavateľ</PUBLISHER>
    <CAPABILITIES>Schopnosti</CAPABILITIES>
    <ABI>ABI</ABI>
    <APP_NAME>Aplikácia</APP_NAME>
    <APP_VERSION>Verzia</APP_VERSION>
    <APP_VERSION_NAME>Názov verzie</APP_VERSION_NAME>
    <APP_VERSION_CODE>Kód verzie</APP_VERSION_CODE>
    <PERMISSIONS>Povolenia</PERMISSIONS>
    <PACKAGE_NAME>Názov balíka</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>Minimálna verzia SDK</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>Cieľová verzia SDK</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>Minimálna verzia OS</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>Cieľová verzia OS</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>Rodina zariadení</DEVICE_FAMILY>
    <BUNDLE_NAME>Názov balíka</BUNDLE_NAME>
    <DEVICE_TYPES>Typy zariadení</DEVICE_TYPES>
    <APP_MIN_API_VERSION>Minimálna verzia API</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>Cieľová verzia API</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>Verzia kompilovaného SDK</COMPILE_SDK_VERSION>
    <ARCHITECTURE>Architektúra</ARCHITECTURE>
    <MAINTAINER>Správca</MAINTAINER>
    <DESCRIPTION>Popis</DESCRIPTION>
    <ENVIRONMENT>Prostredie</ENVIRONMENT>
    <TYPE>Typ</TYPE>
    <TERMINAL>Terminál</TERMINAL>
    <VENDOR>Dodávateľ</VENDOR>
  </sk>
  <id-ID>
    <PRODUCT_VERSION>Versi produk</PRODUCT_VERSION>
    <PRODUCT_NAME>Nama produk</PRODUCT_NAME>
    <MANUFACTURER>Pabrikan</MANUFACTURER>
    <TOTAL_SIZE>Ukuran total</TOTAL_SIZE>
    <LAST_MODIFIED>Terakhir diubah</LAST_MODIFIED>
    <PUBLISHER>Penerbit</PUBLISHER>
    <CAPABILITIES>Kemampuan</CAPABILITIES>
    <ABI>ABI</ABI>
    <APP_NAME>Aplikasi</APP_NAME>
    <APP_VERSION>Versi</APP_VERSION>
    <APP_VERSION_NAME>Nama versi</APP_VERSION_NAME>
    <APP_VERSION_CODE>Kode versi</APP_VERSION_CODE>
    <PERMISSIONS>Izin</PERMISSIONS>
    <PACKAGE_NAME>Nama paket</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>Versi SDK minimum</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>Versi SDK target</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>Versi OS minimum</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>Versi OS target</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>Keluarga perangkat</DEVICE_FAMILY>
    <BUNDLE_NAME>Nama bundle</BUNDLE_NAME>
    <DEVICE_TYPES>Jenis perangkat</DEVICE_TYPES>
    <APP_MIN_API_VERSION>Versi API minimum</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>Versi API target</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>Versi SDK kompilasi</COMPILE_SDK_VERSION>
    <ARCHITECTURE>Arsitektur</ARCHITECTURE>
    <MAINTAINER>Pemelihara</MAINTAINER>
    <DESCRIPTION>Deskripsi</DESCRIPTION>
    <ENVIRONMENT>Lingkungan</ENVIRONMENT>
    <TYPE>Jenis</TYPE>
    <TERMINAL>Terminal</TERMINAL>
    <VENDOR>Vendor</VENDOR>
  </id-ID>
  <en>
    <PRODUCT_VERSION>Product Version</PRODUCT_VERSION>
    <PRODUCT_NAME>Product Name</PRODUCT_NAME>
    <MANUFACTURER>Manufacturer</MANUFACTURER>
    <TOTAL_SIZE>Total Size</TOTAL_SIZE>
    <LAST_MODIFIED>Last Modified</LAST_MODIFIED>
    <PUBLISHER>Publisher</PUBLISHER>
    <CAPABILITIES>Capabilities</CAPABILITIES>
    <ABI>ABIs</ABI>
    <APP_NAME>Application</APP_NAME>
    <APP_VERSION>Version</APP_VERSION>
    <APP_VERSION_NAME>Version Name</APP_VERSION_NAME>
    <APP_VERSION_CODE>Version Code</APP_VERSION_CODE>
    <PERMISSIONS>Permissions</PERMISSIONS>
    <PACKAGE_NAME>Package Name</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>Minimum SDK Version</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>Target SDK Version</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>Minimum OS Version</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>Target OS Version</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>Device Family</DEVICE_FAMILY>
    <BUNDLE_NAME>Bundle Name</BUNDLE_NAME>
    <DEVICE_TYPES>Device Types</DEVICE_TYPES>
    <APP_MIN_API_VERSION>Minimum API Version</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>Target API Version</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>Compile SDK Version</COMPILE_SDK_VERSION>
    <ARCHITECTURE>Architecture</ARCHITECTURE>
    <MAINTAINER>Maintainer</MAINTAINER>
    <DESCRIPTION>Description</DESCRIPTION>
    <ENVIRONMENT>Environment</ENVIRONMENT>
    <TYPE>Type</TYPE>
    <TERMINAL>Terminal</TERMINAL>
    <VENDOR>Vendor</VENDOR>
  </en>
  <ko>
    <PRODUCT_VERSION>제품 버전</PRODUCT_VERSION>
    <PRODUCT_NAME>제품 이름</PRODUCT_NAME>
    <MANUFACTURER>제조업체</MANUFACTURER>
    <TOTAL_SIZE>전체 크기</TOTAL_SIZE>
    <LAST_MODIFIED>최종 수정됨</LAST_MODIFIED>
    <PUBLISHER>발행자</PUBLISHER>
    <CAPABILITIES>성능</CAPABILITIES>
    <ABI>ABIs</ABI>
    <APP_NAME>응용 프로그램</APP_NAME>
    <APP_VERSION>버전</APP_VERSION>
    <APP_VERSION_NAME>버전 이름</APP_VERSION_NAME>
    <APP_VERSION_CODE>버전 코드</APP_VERSION_CODE>
    <PERMISSIONS>권한</PERMISSIONS>
    <PACKAGE_NAME>패키지 이름</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>최소 SDK 버전</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>대상 SDK 버전</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>최소 OS 버전</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>대상 OS 버전</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>장치 제품군</DEVICE_FAMILY>
    <BUNDLE_NAME>번들 이름</BUNDLE_NAME>
    <DEVICE_TYPES>장치 유형</DEVICE_TYPES>
    <APP_MIN_API_VERSION>최소 API 버전</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>대상 API 버전</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>SDK 버전 컴파일</COMPILE_SDK_VERSION>
    <ARCHITECTURE>아키텍쳐</ARCHITECTURE>
    <MAINTAINER>유지 관리자</MAINTAINER>
    <DESCRIPTION>설명</DESCRIPTION>
    <ENVIRONMENT>환경</ENVIRONMENT>
    <TYPE>유형</TYPE>
    <TERMINAL>터미널</TERMINAL>
    <VENDOR>공급업체</VENDOR>
  </ko>
  <pt-BR>
    <PRODUCT_VERSION>Versão do produto</PRODUCT_VERSION>
    <PRODUCT_NAME>Nome do produto</PRODUCT_NAME>
    <MANUFACTURER>Fabricante</MANUFACTURER>
    <TOTAL_SIZE>Tamanho total</TOTAL_SIZE>
    <LAST_MODIFIED>Modificado em</LAST_MODIFIED>
    <PUBLISHER>Editora</PUBLISHER>
    <CAPABILITIES>Recursos</CAPABILITIES>
    <ABI>ABIs</ABI>
    <APP_NAME>Nome do aplicativo</APP_NAME>
    <APP_VERSION>Versão</APP_VERSION>
    <APP_VERSION_NAME>Nome da versão</APP_VERSION_NAME>
    <APP_VERSION_CODE>Código da versão</APP_VERSION_CODE>
    <PERMISSIONS>Permissões</PERMISSIONS>
    <PACKAGE_NAME>Nome do pacote</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>Versão mínima do SDK</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>Versão alvo do SDK</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>Versão mínima do sistema operacional</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>Versão alvo do sistema operacional</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>Família de dispositivos</DEVICE_FAMILY>
    <BUNDLE_NAME>Nome do pacote</BUNDLE_NAME>
    <DEVICE_TYPES>Tipos de dispositivo</DEVICE_TYPES>
    <APP_MIN_API_VERSION>Versão mínima do API</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>Versão mínima do API</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>Versão do SDK de compilação</COMPILE_SDK_VERSION>
    <ARCHITECTURE>Arquitetura</ARCHITECTURE>
    <MAINTAINER>Mantenedor</MAINTAINER>
    <DESCRIPTION>Descrição</DESCRIPTION>
    <ENVIRONMENT>Ambiente</ENVIRONMENT>
    <TYPE>Tipo</TYPE>
    <TERMINAL>Terminal</TERMINAL>
    <VENDOR>Fornecedor</VENDOR>
  </pt-BR>
  <zh-CN>
    <PRODUCT_VERSION>产品版本</PRODUCT_VERSION>
    <PRODUCT_NAME>产品名称</PRODUCT_NAME>
    <MANUFACTURER>制造商</MANUFACTURER>
    <TOTAL_SIZE>总大小</TOTAL_SIZE>
    <LAST_MODIFIED>修改时间</LAST_MODIFIED>
    <PUBLISHER>发布者</PUBLISHER>
    <CAPABILITIES>功能</CAPABILITIES>
    <ABI>支持的 ABI</ABI>
    <APP_NAME>应用名称</APP_NAME>
    <APP_VERSION>版本</APP_VERSION>
    <APP_VERSION_NAME>版本名称</APP_VERSION_NAME>
    <APP_VERSION_CODE>版本号</APP_VERSION_CODE>
    <PERMISSIONS>权限</PERMISSIONS>
    <PACKAGE_NAME>包名</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>最低支持 SDK 版本</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>目标 SDK 版本</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>最低系统版本</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>目标系统版本</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>设备支持</DEVICE_FAMILY>
    <BUNDLE_NAME>包名</BUNDLE_NAME>
    <DEVICE_TYPES>设备类型</DEVICE_TYPES>
    <APP_MIN_API_VERSION>最低支持 API 版本</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>目标 API 版本</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>编译 SDK 版本</COMPILE_SDK_VERSION>
    <ARCHITECTURE>架构</ARCHITECTURE>
    <MAINTAINER>维护者</MAINTAINER>
    <DESCRIPTION>描述</DESCRIPTION>
    <ENVIRONMENT>运行环境</ENVIRONMENT>
    <TYPE>类型</TYPE>
    <TERMINAL>终端</TERMINAL>
    <VENDOR>供应商</VENDOR>
  </zh-CN>
  <zh-TW>
    <PRODUCT_VERSION>產品版本</PRODUCT_VERSION>
    <PRODUCT_NAME>產品名稱</PRODUCT_NAME>
    <MANUFACTURER>製造商</MANUFACTURER>
    <TOTAL_SIZE>縂大小</TOTAL_SIZE>
    <LAST_MODIFIED>修改時間</LAST_MODIFIED>
    <PUBLISHER>發行者</PUBLISHER>
    <CAPABILITIES>功能</CAPABILITIES>
    <ABI>支援的 ABI</ABI>
    <APP_NAME>程式名稱</APP_NAME>
    <APP_VERSION>版本</APP_VERSION>
    <APP_VERSION_NAME>版本名稱</APP_VERSION_NAME>
    <APP_VERSION_CODE>版本號</APP_VERSION_CODE>
    <PERMISSIONS>權限</PERMISSIONS>
    <PACKAGE_NAME>套件名稱</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>最低支援 SDK 版本</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>目標 SDK 版本</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>最低作業系統版本</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>目標作業系統版本</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>裝置支援</DEVICE_FAMILY>
    <BUNDLE_NAME>套件名稱</BUNDLE_NAME>
    <DEVICE_TYPES>裝置類型</DEVICE_TYPES>
    <APP_MIN_API_VERSION>最低支援 API 版本</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>目標 API 版本</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>編譯 SDK 版本</COMPILE_SDK_VERSION>
    <ARCHITECTURE>架構</ARCHITECTURE>
    <MAINTAINER>維護者</MAINTAINER>
    <DESCRIPTION>描述</DESCRIPTION>
    <ENVIRONMENT>執行環境</ENVIRONMENT>
    <TYPE>類型</TYPE>
    <TERMINAL>終端機</TERMINAL>
    <VENDOR>供應商</VENDOR>
  </zh-TW>
  <ja>
    <PRODUCT_VERSION>製品バージョン</PRODUCT_VERSION>
    <PRODUCT_NAME>製品名</PRODUCT_NAME>
    <MANUFACTURER>製造元</MANUFACTURER>
    <TOTAL_SIZE>合計サイズ</TOTAL_SIZE>
    <LAST_MODIFIED>更新日時</LAST_MODIFIED>
    <PUBLISHER>発行元</PUBLISHER>
    <CAPABILITIES>機能</CAPABILITIES>
    <ABI>対応ABI</ABI>
    <APP_NAME>アプリケーションネーム</APP_NAME>
    <APP_VERSION>バージョン</APP_VERSION>
    <APP_VERSION_NAME>バージョン名</APP_VERSION_NAME>
    <APP_VERSION_CODE>バージョンコード</APP_VERSION_CODE>
    <PERMISSIONS>権限</PERMISSIONS>
    <PACKAGE_NAME>パッケージ名</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>最小SDKバージョン</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>ターゲットSDKバージョン</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>最小OSバージョン</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>ターゲットOSバージョン</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>対応デバイス</DEVICE_FAMILY>
    <BUNDLE_NAME>バンドル名</BUNDLE_NAME>
    <DEVICE_TYPES>デバイスタイプ</DEVICE_TYPES>
    <APP_MIN_API_VERSION>最小APIバージョン</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>ターゲットAPIバージョン</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>コンパイルSDKバージョン</COMPILE_SDK_VERSION>
    <ARCHITECTURE>アーキテクチャ</ARCHITECTURE>
    <MAINTAINER>メンテナー</MAINTAINER>
    <DESCRIPTION>説明</DESCRIPTION>
    <ENVIRONMENT>実行環境</ENVIRONMENT>
    <TYPE>種類</TYPE>
    <TERMINAL>ターミナル</TERMINAL>
    <VENDOR>ベンダー</VENDOR>
  </ja>
  <de>
    <PRODUCT_VERSION>Produktversion</PRODUCT_VERSION>
    <PRODUCT_NAME>Produktname</PRODUCT_NAME>
    <MANUFACTURER>Hersteller</MANUFACTURER>
    <TOTAL_SIZE>Gesamtgröße</TOTAL_SIZE>
    <LAST_MODIFIED>Zuletzt geändert</LAST_MODIFIED>
    <PUBLISHER>Herausgeber</PUBLISHER>
    <CAPABILITIES>Funktionen</CAPABILITIES>
    <ABI>Unterstützte ABIs</ABI>
    <APP_NAME>Anwendung</APP_NAME>
    <APP_VERSION>Version</APP_VERSION>
    <APP_VERSION_NAME>Bezeichnung der Version</APP_VERSION_NAME>
    <APP_VERSION_CODE>Versionscode</APP_VERSION_CODE>
    <PERMISSIONS>Berechtigungen</PERMISSIONS>
    <PACKAGE_NAME>Paketname</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>Minimale SDK-Version</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>Ziel-SDK-Version</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>Minimale BS-Version</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>Ziel-BS-Version</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>Gerätefamilie</DEVICE_FAMILY>
    <BUNDLE_NAME>Bundle-Name</BUNDLE_NAME>
    <DEVICE_TYPES>Gerätetyp</DEVICE_TYPES>
    <APP_MIN_API_VERSION>Minimale API-Version</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>Ziel-API-Version</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>Kompilierte SDK-Version</COMPILE_SDK_VERSION>
    <ARCHITECTURE>Architektur</ARCHITECTURE>
    <MAINTAINER>Betreuer</MAINTAINER>
    <DESCRIPTION>Beschreibung</DESCRIPTION>
    <ENVIRONMENT>Umgebung</ENVIRONMENT>
    <TYPE>Typ</TYPE>
    <TERMINAL>Terminal</TERMINAL>
    <VENDOR>Anbieter</VENDOR>
  </de>
  <sv>
    <PRODUCT_VERSION>Produktversion</PRODUCT_VERSION>
    <PRODUCT_NAME>Produktnamn</PRODUCT_NAME>
    <MANUFACTURER>Tillverkare</MANUFACTURER>
    <TOTAL_SIZE>Total storlek</TOTAL_SIZE>
    <LAST_MODIFIED>Senast ändrad</LAST_MODIFIED>
    <PUBLISHER>Utgivare</PUBLISHER>
    <CAPABILITIES>Funktioner</CAPABILITIES>
    <ABI>ABI</ABI>
    <APP_NAME>Program</APP_NAME>
    <APP_VERSION>Version</APP_VERSION>
    <APP_VERSION_NAME>Versionsnamn</APP_VERSION_NAME>
    <APP_VERSION_CODE>Versionskod</APP_VERSION_CODE>
    <PERMISSIONS>Behörigheter</PERMISSIONS>
    <PACKAGE_NAME>Paketnamn</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>Minsta SDK-version</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>Mål SDK-version</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>Minsta OS-version</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>Mål OS-version</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>Enhetsfamilj</DEVICE_FAMILY>
    <BUNDLE_NAME>Paketnamn</BUNDLE_NAME>
    <DEVICE_TYPES>Enhetstyp</DEVICE_TYPES>
    <APP_MIN_API_VERSION>Minsta API-version</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>Mål API-version</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>Kompilerad SDK-version</COMPILE_SDK_VERSION>
    <ARCHITECTURE>Arkitektur</ARCHITECTURE>
    <MAINTAINER>Paketansvarig</MAINTAINER>
    <DESCRIPTION>Beskrivning</DESCRIPTION>
    <ENVIRONMENT>Miljö</ENVIRONMENT>
    <TYPE>Typ</TYPE>
    <TERMINAL>Terminal</TERMINAL>
    <VENDOR>Leverantör</VENDOR>
  </sv>
  <ro>
    <PRODUCT_VERSION>Versiune produs</PRODUCT_VERSION>
    <PRODUCT_NAME>Nume produs</PRODUCT_NAME>
    <MANUFACTURER>Producător</MANUFACTURER>
    <TOTAL_SIZE>Dimensiune totală</TOTAL_SIZE>
    <LAST_MODIFIED>Ultima modificare</LAST_MODIFIED>
    <PUBLISHER>Editor</PUBLISHER>
    <CAPABILITIES>Capacități</CAPABILITIES>
    <ABI>ABI-uri</ABI>
    <APP_NAME>Aplicație</APP_NAME>
    <APP_VERSION>Versiune</APP_VERSION>
    <APP_VERSION_NAME>Numele versiunii</APP_VERSION_NAME>
    <APP_VERSION_CODE>Cod versiune</APP_VERSION_CODE>
    <PERMISSIONS>Permisiuni</PERMISSIONS>
    <PACKAGE_NAME>Numele pachetului</PACKAGE_NAME>
    <APP_MIN_SDK_VERSION>Versiunea minimă SDK</APP_MIN_SDK_VERSION>
    <APP_TARGET_SDK_VERSION>Versiunea SDK țintă</APP_TARGET_SDK_VERSION>
    <APP_MIN_OS_VERSION>Versiunea minimă a sistemului de operare</APP_MIN_OS_VERSION>
    <APP_TARGET_OS_VERSION>Versiunea țintă a sistemului de operare</APP_TARGET_OS_VERSION>
    <DEVICE_FAMILY>Familie de dispozitive</DEVICE_FAMILY>
    <BUNDLE_NAME>Nume bundle</BUNDLE_NAME>
    <DEVICE_TYPES>Tipuri de dispozitive</DEVICE_TYPES>
    <APP_MIN_API_VERSION>Versiune minimă API</APP_MIN_API_VERSION>
    <APP_TARGET_API_VERSION>Versiunea API țintă</APP_TARGET_API_VERSION>
    <COMPILE_SDK_VERSION>Versiunea SDK compilată</COMPILE_SDK_VERSION>
    <ARCHITECTURE>Arhitectură</ARCHITECTURE>
    <MAINTAINER>Responsabil cu întreținerea</MAINTAINER>
    <DESCRIPTION>Descriere</DESCRIPTION>
    <ENVIRONMENT>Mediu</ENVIRONMENT>
    <TYPE>Tip</TYPE>
    <TERMINAL>Terminal</TERMINAL>
    <VENDOR>Furnizor</VENDOR>
  </ro>
</Translations>
