<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <PRODUCT_VERSION>Product Version</PRODUCT_VERSION>
    <PRODUCT_NAME>Product Name</PRODUCT_NAME>
    <MANUFACTURER>Manufacturer</MANUFACTURER>
    <TOTAL_SIZE>Total Size</TOTAL_SIZE>
    <LAST_MODIFIED>Last Modified</LAST_MODIFIED>
    <PUBLISHER>Publisher</PUBLISHER>
    <CAPABILITIES>Capabilities</CAPABILITIES>
  </en>
  <pt-BR>
    <PRODUCT_VERSION>Versão do produto</PRODUCT_VERSION>
    <PRODUCT_NAME>Nome do produto</PRODUCT_NAME>
    <MANUFACTURER>Fabricante</MANUFACTURER>
    <TOTAL_SIZE>Tamanho total</TOTAL_SIZE>
    <LAST_MODIFIED>Modificado em</LAST_MODIFIED>
    <PUBLISHER>Editora</PUBLISHER>
    <CAPABILITIES>Recursos</CAPABILITIES>
  </pt-BR>
  <zh-CN>
    <PRODUCT_VERSION>产品版本</PRODUCT_VERSION>
    <PRODUCT_NAME>产品名称</PRODUCT_NAME>
    <MANUFACTURER>制造商</MANUFACTURER>
    <TOTAL_SIZE>总大小</TOTAL_SIZE>
    <LAST_MODIFIED>修改时间</LAST_MODIFIED>
    <PUBLISHER>发布者</PUBLISHER>
    <CAPABILITIES>功能</CAPABILITIES>
  </zh-CN>
  <zh-TW>
    <PRODUCT_VERSION>產品版本</PRODUCT_VERSION>
    <PRODUCT_NAME>產品名稱</PRODUCT_NAME>
    <MANUFACTURER>製造商</MANUFACTURER>
    <TOTAL_SIZE>縂大小</TOTAL_SIZE>
    <LAST_MODIFIED>修改時間</LAST_MODIFIED>
    <PUBLISHER>發行者</PUBLISHER>
    <CAPABILITIES>功能</CAPABILITIES>
  </zh-TW>
  <ja>
    <PRODUCT_VERSION>製品バージョン</PRODUCT_VERSION>
    <PRODUCT_NAME>製品名</PRODUCT_NAME>
    <MANUFACTURER>製造元</MANUFACTURER>
    <TOTAL_SIZE>合計サイズ</TOTAL_SIZE>
    <LAST_MODIFIED>更新日時</LAST_MODIFIED>
    <PUBLISHER>発行元</PUBLISHER>
    <CAPABILITIES>機能</CAPABILITIES>
  </ja>
</Translations>
