<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <ar>
    <MW_ReopenAsTextPreview>إعادة فتح كمعاينة نص</MW_ReopenAsTextPreview>
  </ar>
  <ca>
    <MW_ReopenAsTextPreview>Torna a obrir com a previsualització de text</MW_ReopenAsTextPreview>
  </ca>
  <de>
    <MW_ReopenAsTextPreview>Als Text-Vorschau erneut öffnen</MW_ReopenAsTextPreview>
  </de>
  <en>
    <MW_ReopenAsTextPreview>Reopen as text preview</MW_ReopenAsTextPreview>
  </en>
  <es>
    <MW_ReopenAsTextPreview>Reabrir como vista previa de texto</MW_ReopenAsTextPreview>
  </es>
  <fr>
    <MW_ReopenAsTextPreview>Rouvrir en aperçu texte</MW_ReopenAsTextPreview>
  </fr>
  <it>
    <MW_ReopenAsTextPreview>Riapri come anteprima testo</MW_ReopenAsTextPreview>
  </it>
  <ja-JP>
    <MW_ReopenAsTextPreview>テキストとして再度開く</MW_ReopenAsTextPreview>
  </ja-JP>
  <ko>
    <MW_ReopenAsTextPreview>텍스트 미리보기로 다시 열기</MW_ReopenAsTextPreview>
  </ko>
  <nb-NO>
    <MW_ReopenAsTextPreview>Åpne på nytt som tekst-forhåndsvisning</MW_ReopenAsTextPreview>
  </nb-NO>
  <nl-NL>
    <MW_ReopenAsTextPreview>Opnieuw openen als tekst-voorbeeld</MW_ReopenAsTextPreview>
  </nl-NL>
  <pl>
    <MW_ReopenAsTextPreview>Otwórz ponownie jako podgląd tekstu</MW_ReopenAsTextPreview>
  </pl>
  <pt-BR>
    <MW_ReopenAsTextPreview>Reabrir como visualização de texto</MW_ReopenAsTextPreview>
  </pt-BR>
  <pt-PT>
    <MW_ReopenAsTextPreview>Reabrir como pré-visualização de texto</MW_ReopenAsTextPreview>
  </pt-PT>
  <ro>
    <MW_ReopenAsTextPreview>Redeschideți ca previzualizare text</MW_ReopenAsTextPreview>
  </ro>
  <ru-RU>
    <MW_ReopenAsTextPreview>Переоткрыть как предварительный просмотр текста</MW_ReopenAsTextPreview>
  </ru-RU>
  <tr-TR>
    <MW_ReopenAsTextPreview>Metin önizlemesi olarak yeniden aç</MW_ReopenAsTextPreview>
  </tr-TR>
  <uk-UA>
    <MW_ReopenAsTextPreview>Перевідкрити як попередній перегляд тексту</MW_ReopenAsTextPreview>
  </uk-UA>
  <vi>
    <MW_ReopenAsTextPreview>Mở lại dưới dạng xem trước văn bản</MW_ReopenAsTextPreview>
  </vi>
  <zh-CN>
    <MW_ReopenAsTextPreview>重新作为文本预览打开</MW_ReopenAsTextPreview>
  </zh-CN>
  <zh-TW>
    <MW_ReopenAsTextPreview>重新作為文本預覽開啟</MW_ReopenAsTextPreview>
  </zh-TW>
  <mr>
    <MW_ReopenAsTextPreview>पुनः टेक्स्ट पूर्वावलोकन म्हणून उघडा</MW_ReopenAsTextPreview>
  </mr>
  <hi>
    <MW_ReopenAsTextPreview>टेक्स्ट पूर्वावलोकन के रूप में फिर से खोलें</MW_ReopenAsTextPreview>
  </hi>
  <he>
    <MW_ReopenAsTextPreview>פתח מחדש כתצוגת טקסט</MW_ReopenAsTextPreview>
  </he>
  <hu-HU>
    <MW_ReopenAsTextPreview>Újranyitás szöveg előnézetként</MW_ReopenAsTextPreview>
  </hu-HU>
  <id-ID>
    <MW_ReopenAsTextPreview>Buka ulang sebagai pratinjau teks</MW_ReopenAsTextPreview>
  </id-ID>
  <sk>
    <MW_ReopenAsTextPreview>Znova otvoriť ako náhľad textu</MW_ReopenAsTextPreview>
  </sk>
  <el>
    <MW_ReopenAsTextPreview>Επανανοίξτε ως προεπισκόπηση κειμένου</MW_ReopenAsTextPreview>
  </el>
  <sv>
    <MW_ReopenAsTextPreview>Öppna på nytt som textförhandsgranskning</MW_ReopenAsTextPreview>
  </sv>
</Translations>
